.block-social-dockable {
    background: none repeat scroll 0 0 #ECECEC;
    border-radius: 3px 3px 3px 3px;
    padding: 7px 0;
    width: 76px;
    z-index: 100;
	margin-left:-100px;
	position:fixed;
}
.block-social-dockable .item {
    padding: 7px 0;
    position: relative;
    z-index: 1;
}
.block-social-dockable .item .counter {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C8C8C8;
    color: #4C595F;
    font-family: Georgia,'Times New Roman',Times,serif;
    font-size: 17px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 62px;
}
.block-social-dockable .item .counter div {
    background: url(../images/block-soc-dockable-ico-1.gif) repeat scroll 0 0 transparent;
    font-size: 1px;
    height: 10px;
    left: 33px;
    overflow: hidden;
    position: absolute;
    top: 38px;
    width: 11px;
    z-index: 1;
}
.block-social-dockable .button {
    padding: 8px 0 0;
}
.block-social-dockable .button a {
    display: block;
    font-size: 0;
    height: 18px;
    margin: 0 auto;
    width: 65px;
}
.block-social-dockable .button .fb {
    background: url(../images/ico-social-buttons-100500.png) no-repeat scroll 0 0 transparent;
}
.block-social-dockable .button .b {
    background: url(../images/ico-social-buttons-100500.png) no-repeat scroll 0 -18px transparent;
}
.block-social-dockable .button .mr {
    background: url(../images/ico-social-buttons-100500.png) no-repeat scroll 0 -36px transparent;
}
.block-social-dockable .button .lj {
    background: url(../images/ico-social-buttons-100500.png) no-repeat scroll 0 -54px transparent;
}
.block-social-dockable .button .tw {
    background: url(../images/ico-social-buttons-100500.png) no-repeat scroll 0 -72px transparent;
    height: 20px;
}
.block-social-dockable .button .u {
    background: url(../images/ico-social-buttons-100500.png) no-repeat scroll 0 -92px transparent;
}