a{
	color:#bad7fb;
}
div#contentWrapper div.sideBar ul.simpleList li a{
	color:#bad7fb;
}
div.sideBar-col div.sideBar {
	width: 250px;
	}
div.sideBar-col div.enterSite {
	font-size: 1.1em;
	margin-top: 8px;
	}
div.sideBar-col div.enterSite a {
	text-decoration: underline;
	}
	
div.sideBar-col div.enterSite form {
	overflow: hidden;
	margin-bottom: 6px;
	}
div.sideBar-col div.enterSite fieldset {
	float: left; display: inline;
	border: 0;
	padding-right: 8px;
	}
div.sideBar-col div.enterSite form label {
	color: #999;
	font-size: 0.9em;
	}
div.sideBar-col div.enterSite form input[type=text],
div.sideBar-col div.enterSite form input[type=password] {
	display: block;
	width: 84px;
	margin-top: 2px;
	padding: 1px;
	}
div.sideBar-col div.enterSite form input[type=submit] {
	width: 22px; height: 22px;
	background: url(/img/enter-site-submit.gif) no-repeat left top;
	text-indent: -9999px;
	border: 0;
	margin-top: 15px;
	display: block;
	}
div.sideBar-col div.enterSite div.actions {
	color: #f70080;
	margin-left: -3px;
	}
div.sideBar-col div.enterSite div.actions a {
	margin: 0 3px;
	}

div.sideBar-col div.logged {
	overflow: hidden;
	}
div.sideBar-col div.logged a.avaSmall {
	float: left; display: inline;
	margin-right: 10px;
	}
div.sideBar-col div.logged div.details {
	float: left;
	width: 180px;
	}
div.sideBar-col div.logged h4 {
	font: bold 1.4em Arial, Helvetica, sans-serif;
	color: #f70080;
	margin-bottom: 3px;
	}
div.sideBar-col div.logged h4 a {
	color: #f70080;
	text-decoration: none;
	}
div.sideBar-col div.logged div.userRating {
	float: left; display: inline;
	margin-right: 10px;
	}
div.sideBar-col div.logged a.exit {
	font: bold 1.1em Arial, Helvetica, sans-serif;
	color: #f70080;
	text-decoration: none;
	}
div.sideBar-col form.search {
	float: right;
	background:none;
	width: 250px;
	position:relative;
	z-index:2;
	margin-bottom:50px;
	}
div.sideBar-col form.search input.text {
	font: 1.4em Tahoma, Verdana, Arial;
	margin-right: 8px;
	border: 1px solid #999;
	width: 130px;
	padding: 2px 2px 1px;
	}
div.sideBar-col form.search input.submit {
	text-indent: -9999px;
	width: 71px;
	height: 22px;
	background: url(/i/form-search-submit.gif) no-repeat left top;
	border: 0;
	padding: 0;
	}
div.sideBar-col div.sideBar-right{
	position:relative;
	z-index:20;
	padding:45px 0 0 35px;
	margin-bottom:65px;
	zoom:1;
}
span#check_mail{
	margin:0;
}
div#content div.h{
	overflow:hidden;
	zoom:1;
}
div#content div.h span.logo{
	display:-moz-inline-stack;
	display:inline-block;
	#display:inline; zoom:1;
	background:url(/i/small-logo-twil.png) no-repeat 0 0;
	height:18px;
	width:149px;
	position:absolute;
	left:60px;
	top:0;
	_cursor:hand;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/small-logo-twil.png",sizingMethod='crop');
	_background: none;
}
div#content div.h span.logo a{
	display:block;
	width:100%;
	height:100%;
	z-index:3;
	position:relative;
}
div#content div.h-no-shadow{
	position:relative;
	z-index:2;
	padding:40px 50px 20px;
	left:-110px;
	width:610px;
}
div#content div.h h1{
	background:url(/i/logo-twilight-h1-new.png) no-repeat 0 0;
	color:#5f677f;
	font:2.124em "Times New Roman", Times, serif;
	height:140px;
	width:407px;
	
	zoom:1;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/logo-twilight-h1-new.png",sizingMethod='crop');
	_background: none;
	position:relative;
}
div#content div.h h1 span.h1{
	position:absolute;
	right:0;
	top:0;
}
body.twilight {
	background:url(/i/body-bg.png) repeat-y center center;
	
	/*_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/body-bg.png",sizingMethod='scale');
	_background: none;*/
}
body.twilight div.desc p {
	color:#d0d3d7;
	font:1.6em Georgia, "Times New Roman", Times, serif;
	zoom:1;
}
html body.twilight div.desc p:first-letter{
	color:#bad7fb;
	font:2.25em Georgia, "Times New Roman", Times, serif;
	position:relative;
	zoom:1;
}
body.twilight div#wrapper{
	position:relative;
	left:9px;
	#left:11px;
}
body.twilight div.big-bg{
	height:1120px;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	overflow:hidden;
}
body.twilight div.big-bg div.bg{
	background:url(/i/big-bg.jpg) no-repeat center 0;
	width:1680px;
	margin-left:50%;
	left:-831px;
	#left:-830px;
	position:relative;
	height:1119px;
}
body.twilight div.desc p:first-letter {
	font:2.25em Georgia, "Times New Roman", Times, serif;
	/*line-height: 35px;
	#line-height:normal;*/
	color: #bad7fb;
	margin-right: 6px;
}
body.twilight div.newsTrack div.entry-anounce:first-letter, body.twilight div.newsTrack div.entry:first-letter { 
	font:2.25em Georgia, "Times New Roman", Times, serif;
	line-height: 35px;
	#line-height:normal;
	color: #bad7fb;
	padding-top: 4px;
	margin-right: 6px;
	}
body.twilight div.newsTrack div.entry-details, body.twilight div.newsTrack div.entry-anounce, body.twilight div.newsTrack div.entry{
	font:1.4em Georgia, "Times New Roman", Times, serif;
	color:#d0d3d7;
}
body.twilight div.desc a{
	color:#bad7fb;
	display:-moz-inline-stack;
	display:inline-block;
	#display:inline; zoom:1;
	margin:15px 0 0 42px;
	float:left;
}
body.twilight div.desc {
	padding-bottom:15px;
	overflow:hidden;
	zoom:1;
	border:0;
	margin-bottom:0;
}
body.twilight div#content h1.twilight {
	margin-right:30px;
}
body.twilight div.comm div span.tags a,body.twilight div.comm div span.comments, body.twilight div.comm div span.comments a,
body.twilight div.newsMeta span.comments a,body.twilight div.newsMeta span.views a, body.twilight div.newsMeta span.tags a{
	color:#768da9;
}
body.twilight div.comm div span.tags,body.twilight div.comm div span.views, body.twilight div.comm div span.views a,
body.twilight div.newsMeta span.comments, body.twilight div.newsMeta span.views{
	color:#9fa5ac;
}
body.twilight div.comm {
	margin-left:20px;
	padding-bottom:20px;
	_padding-bottom:30px;
	position:relative;
}
body.twilight div.comm div.bott{
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
	height:2px;
	background:url(/i/bord-bottm.png) no-repeat 0 bottom;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/bord-bottm.png",sizingMethod='crop');
	_background: none;
}
div.paginator ul li{
	font-size:1em;
}
div.paginator  a,
div.paginator  h4 {
	color:#bad7fb;
	font:22px Georgia, "Times New Roman", Times, serif;
}
body.twilight div.paginator ul li{
	position:relative;
}
body.twilight div.paginator ul.numbers li{
	font:1.8em Georgia, "Times New Roman", Times, serif;
	position:relative;
}
body.twilight div.paginator ul.numbers li.active {
	color:#fff;
	background:#000;
	font-size:30px;
	line-height:25px;
	padding:0 3px 8px;
}
body.twilight div.paginator ul a.prev,
body.twilight div.paginator ul a.next{
	display:block;
	height:3px;
	width:17px;
	position:absolute;
	top:17px;
	overflow:hidden;
	zoom:1;
}
body.twilight div.paginator ul a.prev {left:0;}
body.twilight div.paginator ul a.next{right:0;} 
body.twilight div.paginator ul a.prev div{
	background:url(/i/str-l.png) no-repeat 0 0;
	width:17px;
	height:3px;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/str-l.png",sizingMethod='crop');
	_background: none;
}
body.twilight div.paginator ul a.next div{
	background:url(/i/str-r.png) no-repeat 0 0;
	width:17px;
	height:3px;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/str-r.png",sizingMethod='crop');
	_background: none;
}
body.twilight div.paginator ul li.prev{
	padding-left:20px;
}
body.twilight div.paginator ul li.next{
	padding-right:20px;
}
body.twilight div.sideBar div.saga-info{
	overflow:hidden;
	position:relative;
	zoom:1;
	padding-bottom:20px;
	margin-bottom:20px;
	
	_padding-bottom:30px;
	_margin-bottom:10px;
}
body.twilight div.sideBar div.saga-info ul.heroes{
	overflow:hidden;
	display:table;
	zoom:1;
}
body.twilight div.sideBar div.saga-info ul.heroes li{
	display:table-row;
	overflow:hidden;
	zoom:1;
	position:relative;
	margin-bottom:1px;
	#margin-bottom:-4px;
}
body.twilight div.sideBar div.saga-info  div.bott{
	width:230px;
	height:3px;
	position:absolute;
	bottom:0;
	left:0;
	background:url(/i/bott-small.png) no-repeat 0 0;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/bott-small.png",sizingMethod='crop');
	_background: none;
}
body.twilight div.sideBar div.saga-info ul.heroes li img{
	margin-right:10px;
}
body.twilight div.sideBar div.saga-info ul.heroes li a{
	font:1.8em Georgia, "Times New Roman", Times, serif;
	color:#bad7fb;
	display:table-cell;
	vertical-align:middle;
	position: relative;
	#scrollbar-face-color: expression(
		runtimeStyle.scrollbarFaceColor = "#fff",
		runtimeStyle.top = offsetHeight < parentNode.offsetHeight ? (parentNode.offsetHeight - offsetHeight)/2 - 40 + "px" : "0px"
	);
}
body.twilight div.sideBar div.saga-info h1{
	color:#bad7fb;
	font:2.4em Georgia, "Times New Roman", Times, serif;
	margin-bottom:10px;
}
body.twilight div.sideBar div.saga-info p{
	font:1.4em Georgia, "Times New Roman", Times, serif;
	color:#d0d3d7;
}
body.twilight div.sideBar div.saga-info p a{
	color:#bad7fb;
}
body.twilight div.sideBar div.saga-info h2{
	color:#fff;
	font:2em Georgia, "Times New Roman", Times, serif;
}
body.twilight div.sideBar div.saga-info ul.most-talking{
	overflow:hidden;
	width:200px;
}
body.twilight div.sideBar div.saga-info ul.most-talking li{
	font:1.5em Georgia, "Times New Roman", Times, serif;
	margin-bottom:20px;
}
body.twilight div.sideBar div.saga-info ul.most-talking li span{
	color:#858e9a;
}
body.twilight div.hbFeatures div.fon-dark,
body.twilight div.sideBar-col div.fon-dark{
	_height:2000px;
}
body.twilight div#content div.fon,
body.twilight div.hbFeatures div.fon{
	_height:1500px;
}
body.twilight div.sideBar div.saga-info ul.vote{
	overflow:hidden;
	zoom:1;
	margin-bottom:10px;
}
body.twilight div.sideBar div.saga-info ul.vote li {
	color:#fff;
	font:1.5em Georgia, "Times New Roman", Times, serif;
}
body.twilight div.sideBar div.saga-info ul.vote li input {
	margin-right:5px;
}
body.twilight div.sideBar div.saga-info input.submit{
	border:0;
	background:url(/i/vote-submit.jpg) no-repeat 0 0;
	width:99px;
	height:26px;
	margin-right:15px;
}
body.twilight div.sideBar div.saga-info a.vote-link{
	font-size:1.1.em;
}
body.twilight div.newsTrack div.entry-details, body.twilight div.newsTrack div.entry{
	border:0;
}
div.trackItem div.details a.pc-user, div.trackItem div.details span.pc-user {
	color:#f70080;
}
body.twilight div.trackContainer div.paginator,
body.twilight div.noBord{
	border:0;
} 
div.commentsTrack div.trackItem {
	border:0;
}
div.commentsTrack{
	background:url(/i/bord-bottm.png) no-repeat 0 bottom;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/bord-bottm.png",sizingMethod='crop');
	_background: none;
	_padding-top:15px;
}
div.newsTrack div.trackItem{
	margin-bottom:0;
}
div.noBg{
	background:none;
}
div.newsTrack {
	margin-bottom: 0;
	}
div.decorNewsTrack{
	background:url(/i/bord-bottm.png) no-repeat 0 bottom;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/bord-bottm.png",sizingMethod='crop');
	_background: none;
	padding-bottom:15px;
	margin-bottom:15px;
	overflow:hidden;
}
* html div.newsTrack {
	background:url(/i/bord-bottm.png) no-repeat 0 bottom;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/bord-bottm.png",sizingMethod='crop');
	_background: none;
	overflow:hidden;
}
div.victorina{
	overflow:auto;
	zoom:1;
}
div.victorina h1,
div.victorina h2{
	color:#fff;
	font:3.2em Georgia, "Times New Roman", Times, serif;
}
div.victorina h2{
	font-size:2.2em;
	margin-bottom:0;
}
div.victorina p.date{
	color:#939da6;
	font:1.4em Georgia, "Times New Roman", Times, serif;
	margin-bottom:10px;
}

div.victorina div.questions{
	background:#132438;
	padding:15px 0 30px;
	overflow:hidden;
	width:560px;
	zoom:1;
}
div.victorina div.questions dl{
	width:470px;
	overflow:hidden;
	zoom:1;
	padding:0 90px 0 15px;
	padding-bottom:20px;
}
div.victorina div.questions div.decor{
	background:url(/i/bord-bottm.jpg) no-repeat 0 bottom;
	margin-bottom:20px;
}
div.victorina div.questions dl dd{
	color:#fff;
	font:bold 1.5em Georgia, "Times New Roman", Times, serif;
	margin-bottom:10px;
}
div.victorina div.questions dl dt{
	color:#bdc2c7;
	font:1.5em Georgia, "Times New Roman", Times, serif;
	margin-bottom:10px;
	padding-left:20px;
}
div.victorina div.questions dl dt input{
	margin-right:5px;
}
div.victorina div.questions input.submit{
	border:0;
	background:url(/i/ready-submit.jpg) no-repeat 0 0;
	width:100px;
	height:26px;
	margin-left:15px;
}
div.victorina div.score,
div.victorina div.vote{
	width:560px;
	background:#132438;
	padding:15px 0 30px;
}
div.victorina div.score p{
	text-align:center;
}
div.victorina div.score p.your-score,
div.victorina div.score p.result{
	color:#fff;
	font:1.5em Georgia, "Times New Roman", Times, serif;
}
div.victorina div.score p.your-score{
	font-weight:bold;
}
div.victorina div.score p.score{
	font:17.2em Georgia, "Times New Roman", Times, serif;
	color:#fff;
	margin-bottom:20px;
}
div.victorina div.vote{
	padding:15px 10px;
	width:540px;
	overflow:hidden;
	zoom:1;
	margin-bottom:30px;
}
div.victorina div.vote table{
	font:1.5em Georgia, "Times New Roman", Times, serif;
	width:100%;
}
div.victorina div.vote table td.percent{
	color:#a1a7af;
	text-align:right;
	padding-right:10px;
	width:10px;
	#width:30px;
}

div.victorina div.vote table td div{
	color:#fff;
	position:relative;
}
div.victorina div.vote table td div.voting{
	background:url(/i/voting.jpg) repeat-x 0 0;
	height:15px;
	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
	padding:0;
	overflow:hidden;
	zoom:1;
}
div.victorina div.vote table td span{
	position:relative;
	z-index:2;
}
div.vict h1.elder{
	font:3.6em Georgia, "Times New Roman", Times, serif;
	color:#fff;
	position:relative;
	margin-left:-50px;
	#margin-left:-60px;
	margin-bottom:20px;
}
div.vict h1.elder i{
	font-size:1.333em;
	margin-right:20px;
	margin-top:-7px;
	float:left;
}
ul.menu {zoom:1;}
body.potter {
	background:url(/i/body-potter-bg.png) repeat-y center center ;
	
	/*_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/body-bg.png",sizingMethod='scale');
	_background: none;*/
}
body.potter div.big-bg div.bg{
	background:url(/i/potter-big-bg.jpg) no-repeat 0 0;
}
div#footer div.copyright {
	color:#fff;
}
body.potter div#content div.h h1{
	background:url(/i/garry-potter-h1.png) no-repeat 0 0;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/garry-potter-h1.png",sizingMethod='crop');
	_background: none;
}
body.potter div#content h1.twilight{
	padding-left:5px;
	font:3.2em Georgia, "Times New Roman", Times, serif;
}
body.potter div#content h1.twilight a{
	color:#e5a457;
}

body.potter div.desc p{
	color:#afa396;
}
body.potter div.desc a{
	color:#e5a457;
}
body.potter div.desc p:first-letter {
	color: #e5a457 !important;
	margin:0 5px 0 0;
}
body.potter div.newsTrack div.entry-anounce:first-letter, body.potter div.newsTrack div.entry:first-letter { 
	color: #e5a457;
	margin:0 5px 0 0;
}
body.potter div.comm div span.tags a,body.potter div.comm div span.comments, body.potter div.comm div span.comments a,
body.potter div.newsMeta span.comments a,body.potter div.newsMeta span.views a, body.potter div.newsMeta span.tags a{
	color:#8b6b41;
}
body.potter div.comm div span.tags,body.potter div.comm div span.views, body.potter div.comm div span.views a,
body.potter div.newsMeta span.comments, body.potter div.newsMeta span.views{
	color:#9aa1a5;
}
body.potter div.paginator a, div.paginator h4,
body.sex div.paginator a {
	font-size:1.8em;
}
body.potter div.paginator ul li.active,
body.sex div.paginator ul li.active{
	font:normal 3em Georgia, "Times New Roman", Times, serif;
	background:#000;
	padding-top:0;
}
body.potter div.paginator ul li,
body.potter div.paginator ul li a{
	color:#e5a457;
}
body.potter div.paginator ul.pages li,
body.sex div.paginator ul.pages li{
	padding-top:0;
}
body.potter div.paginator ul.pages li.prev a,
body.sex div.paginator ul.pages li.prev a{
	padding-left:25px;
	background:url(/i/potter-str-l.jpg) no-repeat 0 14px;
}
body.potter div.paginator ul.pages li.next a,
body.sex div.paginator ul.pages li.next a{
	padding-right:25px;
	background:url(/i/potter-str-r.jpg) no-repeat right 14px;
}
body.sex div.paginator ul.pages li.prev a{
	padding-left:25px;
	background:url(/i/sex-str-l.jpg) no-repeat 0 14px;
}
body.sex div.paginator ul.pages li.next a{
	padding-right:25px;
	background:url(/i/sex-str-r.jpg) no-repeat right 14px;
}
body.potter div.sideBar div.saga-info ul.heroes li a,
body.potter ul.tagCloud li a{
	color:#e5a457;
}
body.potter div.simpleList {
	color:#e5a457;
}
body.potter #rightprime a{
	color:#e5a457;
}
body.potter ul.discussTrack li a{
	color:#e5a457;
}
body.sex {
	background:url(/i/body-sex-bg.png) repeat-y center center;
}
body.sex div.big-bg div.bg{
	background:url(/i/body-sex-bg.jpg) no-repeat 0 0;
}
body.sex div#content div.h h1{
	background:url(/i/h1-sex.png) no-repeat 0 0;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/h1-sex.png",sizingMethod='crop');
	_background: none;
}
body.sex a,
body.sex div.sideBar div.saga-info ul.heroes li a,
body.sex div.desc a  {
	color:#ff90ec;
}
body.sex div.desc p:first-letter {
	color:#ff90ec !important;
}
body.twilight div.desc p {
	color:#bbb;
}
body.sex div.comm div span.tags a, body.sex div.comm div span.comments, body.sex div.comm div span.comments a,
body.sex div.newsMeta span.comments a, body.sex div.newsMeta span.views a, body.sex div.newsMeta span.tags a {
	color:#a15e96;
}
body.potter div.simpleList {
	color:#a15e96;
}
body.potter #rightprime a{
	color:#E5A457;
}
body.potter ul.discussTrack li a,
body.potter  div.sideBar table.users a,
body.potter div#contentWrapper div.sideBar ul.simpleList li a,
body.potter a.pair,
body.potter a.rtitle:link,body.potter a.rtitle:active,body.potter a.rtitle:visited,
body.potter a.mctitle:link,body.potter  a.mctitle:active,body.potter  a.mctitle:visited,
body.potter div.commentsTrack div.details a,
body.potter div.datesTrack ul  a,body.potter div#footer a {
	color:#E5A457 !important;
}
body.sex ul.discussTrack li a,
body.sex  div.sideBar table.users a,
body.sex div#contentWrapper div.sideBar ul.simpleList li a,
body.sex a.pair,
body.sex a.rtitle:link,body.sex a.rtitle:active,body.sex a.rtitle:visited,
body.sex a.mctitle:link,body.sex  a.mctitle:active,body.sex  a.mctitle:visited,
body.sex div.commentsTrack div.details a,
body.sex div.datesTrack ul  a,body.sex div#footer a{
	color:#ff90ec !important;
}
body.potter div.irhTopcorn h3 span.replacer,body.potter  div.irhTopcorn h3 a.replacer,
body.sex div.irhTopcorn h3 span.replacer,body.sex  div.irhTopcorn h3 a.replacer{
	background:url(/i/words/topcorn.png) no-repeat 0 0;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/words/topcorn.png",sizingMethod='crop');
	_background: none;
}
body.potter div.irhPairs h3 span.replacer,body.potter  div.irhPairs h3 a.replacer,
body.sex div.irhPairs h3 span.replacer,body.sex  div.irhPairs h3 a.replacer {
	background:url(/i/words/starspary.png) no-repeat 0 0;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/words/starspary.png",sizingMethod='crop');
	_background: none;
}
body.potter div.irhEvents h3 span.replacer,body.potter  div.irhEvents h3 a.replacer,
body.sex div.irhEvents h3 span.replacer,body.sex  div.irhEvents h3 a.replacer{
	background:url(/i/words/actions.png) no-repeat 0 0;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/words/actions.png",sizingMethod='crop');
	_background: none;
}
body.potter div.irhDiscussions h3 span.replacer,body.potter div.irhDiscussions h3 a.replacer,
body.sex div.irhDiscussions h3 span.replacer,body.sex div.irhDiscussions h3 a.replacer{
	background: url(/i/words/speacking.png) no-repeat 0 0;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/words/speacking.png",sizingMethod='crop');
	_background: none;
}
body.potter div.irhUsers h3 span.replacer,body.potter  div.irhUsers h3 a.replacer,
body.sex div.irhUsers h3 span.replacer,body.sex  div.irhUsers h3 a.replacer{
	background: url(/i/words/users.png) no-repeat 0 0;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/words/users.png",sizingMethod='crop');
	_background: none;
}

body.potter div.irhKids h3 span.replacer,body.potter div.irhKids h3 a.replacer,
body.sex div.irhKids h3 span.replacer,body.sex div.irhKids h3 a.replacer{
	background: url(/i/words/kids.png) no-repeat 0 0;

	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/words/kids.png",sizingMethod='crop');
	_background: none;
}

body.potter div.irhChat h3 span.replacer,body.potter div.irhChat h3 a.replacer,
body.sex  div.irhChat h3 span.replacer,body.sex div.irhChat h3 a.replacer{
	background: url(/i/words/chat.png) no-repeat 0 0;

	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/words/chat.png",sizingMethod='crop');
	_background: none;
}

body.potter div.irhMultimedia h3 span.replacer,body.potter  div.irhMultimedia h3 a.replacer,
body.sex div.irhMultimedia h3 span.replacer,body.sex  div.irhMultimedia h3 a.replacer{
	background: url(/i/words/multi.png) no-repeat 0 0;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/words/multi.png",sizingMethod='crop');
	_background: none;
}
body.potter div.irhFriends h3 span.replacer,body.potter div.irhFriends h3 a.replacer ,
body.sex div.irhFriends h3 span.replacer,body.sex div.irhFriends h3 a.replacer {
	background: url(/i/words/ourfriends.png) no-repeat 0 0;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/words/ourfriends.png",sizingMethod='crop');
	_background: none;
}
body.potter div.irhBD h3 ,body.sex div.irhBD h3 {width:165px;}
body.potter div.irhBD h3 span.replacer,body.potter div.irhBD h3 a.replacer ,
body.sex div.irhBD h3 span.replacer,body.sec div.irhBD h3 a.replacer {
	background: url(/i/words/birthdays.png) no-repeat 0 0;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/words/birthdays.png",sizingMethod='crop');
	_background: none;
}
body.potter ul.discussTrack h4 ,
body.sex ul.discussTrack h4,
body.potter div.irhBD strong,body.sex div.irhBD strong {
	color:#BBBBBB;
}
body.potter div.groupsContainer dl a{
	color:#E5A457 !important;
}
body.sex div.groupsContainer dl{
	color:#FF90EC;
}
div.sideBar div#rightprime div.premieres-potter-wrapper,
div.sideBar div#rightprime div.premieres-sex-wrapper{
	background: url(/i/words/premiers.png) no-repeat 0 0;
	height:17px;
	width:115px;
	
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/i/words/premiers.png",sizingMethod='crop');
	_background: none;
}



body.potter div#header div.sideBar ?
body.sex div#header div.sideBar {
	width: 250px;
	}
body.potter div#header div.enterSite ,
body.sex div#header div.enterSite {
	font-size: 1.1em;
	margin-top: 8px;
	}
body.potter div#header div.enterSite a ,
body.sex div#header div.enterSite a {
	text-decoration: underline;
	}
	
body.potter div#header div.enterSite form ,
body.sex div#header div.enterSite form {
	overflow: hidden;
	margin-bottom: 6px;
	}
body.potter div#header div.enterSite fieldset,
body.sex div#header div.enterSite fieldset {
	float: left; display: inline;
	border: 0;
	padding-right: 8px;
	}
body.potter div#header div.enterSite form label ,
body.sex div#header div.enterSite form label {
	color: #999;
	font-size: 0.9em;
	}
body.potter div#header div.enterSite form input[type=text],
body.potter div#header div.enterSite form input[type=password],
body.sex div#header div.enterSite form input[type=text],
body.sex div#header div.enterSite form input[type=password] {
	display: block;
	width: 84px;
	margin-top: 2px;
	padding: 1px;
	}
body.potter div#header div.enterSite form input[type=submit],
body.sex div#header div.enterSite form input[type=submit] {
	width: 22px; height: 22px;
	background: url(/img/enter-site-submit.gif) no-repeat left top;
	text-indent: -9999px;
	border: 0;
	margin-top: 15px;
	display: block;
	}
body.potter div#header div.enterSite div.actions ,
body.sex div#header div.enterSite div.actions {
	color: #f70080;
	margin-left: -3px;
	}
body.potter div#header div.enterSite div.actions a ,
body.sex div#header div.enterSite div.actions a {
	margin: 0 3px;
	}