
h2 {overflow:hidden;}
/*** CONTENT PAGES ***/
.b-ys-content {
	font: 12px Tahoma, Verdana, Arial, sans-serif;
	}
/* sidebar */
div.irhMySets h3 {
	width: 55px;
	height: 26px;
	top: 0;
	}
div.irhMySets h3 span.replacer,
div.irhMySets h3 a.replacer {
	background: url(/i/ys/replacer-my-sets-h3.png) no-repeat left top;
	}
div.irhMySets a.mySet img {
	display: block;
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
	margin-top: 3px;
	}
	
div.irhNewSets h3 {
	width: 130px;
	height: 12px;
	top: 0;
	margin-bottom: 5px;
	}
div.irhNewSets h3 span.replacer,
div.irhNewSets h3 a.replacer {
	background: url(/i/ys/replacer-new-sets-h3.png) no-repeat left top;
	}
	
div.irhPopularRelevantSets h3 {
	width: 359px;
	height: 21px;
	top: 0;
	margin-bottom: 5px;
	}
div.irhPopularRelevantSets h3 span.replacer,
div.irhPopularRelevantSets h3 a.replacer {
	background: url(/i/ys/replacer-popular-relevant-sets-h3.png) no-repeat left top;
	}
/* </sidebar */
/* person */
div.setRoll {
	padding-bottom: 25px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 25px;
	}
div.irhSets h3 {
	width: 55px;
	height: 13px;
	top: 6px;
	}
div.irhSets h3 span.replacer,
div.irhSets h3 a.replacer {
	background: url(/i/ys/replacer-sets-h3.png) no-repeat left top;
	}
	
ul.setRoll {
	list-style: none;
	margin-right: -10px;
	}
ul.setRoll li {
	display: inline-block;
	#display: inline;
	zoom: 1;
	vertical-align: top;
	margin-right: 3px;
	margin-bottom: 5px;
	}
ul.setRoll li a {
    display: inline-block;
    #display: inline;
    zoom: 1;
    width: 110px;
    border: 1px solid #e5e5e5;
    }
/* </person */
/* alpha list */
.b-alpha-list {
	position: relative;
	zoom: 1;
	padding-left: 1.2em;
	}
.b-alpha-list .b-alpha-list__letter {
	position: absolute;
	left: 0; top: 0;
	font-weight: bold;
	font-size: 0.83em;
	}
/* </alpha list */
/* cols */
.b-cols {
	white-space: nowrap;
	}
.b-cols .b-cols__col {
	white-space: normal;
	display: inline-block;
	#display: inline;
	zoom: 1;
	vertical-align: top;
	padding-right: 1%;
	}
.b-cols-2 .b-cols__col { width: 47%; }
.b-cols-3 .b-cols__col { width: 32%; }
.b-cols-4 .b-cols__col { width: 23%; }

.b-cols .b-cols__col_final {
	display: block;
	padding: 2px 0 0;
	width: auto;
	font-weight: bold;
	}
/* </cols */
/* stars list */
.b-stars-list {
	line-height: 1.2em;
	}
.b-stars-list dd {
	padding-bottom: 0.47em;
	}
/* </stars list */

/* sets roll */
.b-sets-roll {
	list-style: none;
	margin: 5px 0 0;
	}
.b-sets-roll_full {
	width: 105%;
	}
.b-sets-roll_full .b-sets-roll__set {
	display: inline-block;
	_display: inline-block;
	zoom: 1;
	vertical-align: top;
	width: 274px;
	padding-right: 2%;
	margin-bottom: 30px;
	margin-right: -5px;
	}
.b-sets-roll a.set-image {
    width: 274px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    display: block;
    }
.b-sets-roll a.set-image img {
	display: block;
	}
.b-sets-roll_full h2 {
	font: bold 12px Tahoma, Verdana, Arial, sans-serif;
	margin-bottom: 5px;
	}
.b-sets-roll .b-meta {
	font: 11px Tahoma, Verdana, Arial, sans-serif;
	color: #f70080;
	}
.b-sets-roll .b-meta .votes-count {
	display: block;
	color: #000;
	}
.b-sets-roll .b-meta .user-rating {
	padding: 0 3px 1px;
	display: inline;
	}
/* </sets roll */

/* popular sets */
div.irhPopularSets h3 {
	width: 200px;
	height: 17px;
	top: 5px;
	}
div.irhPopularSets h3 span.replacer,
div.irhPopularSets h3 a.replacer {
	background: url(/i/ys/replacer-popular-sets-h3.png) no-repeat 2px top;
	}
/* </popular sets */
/* mail */
div.irhMail h3 {
	width: 219px;
	height: 19px;
	top: 0;
	}
div.irhMail h3 span.replacer,
div.irhMail h3 a.replacer {
	background: url(/i/ys/replacer-mail-h3.png) no-repeat left top;
	}
	
/*div.b-create-set-promo {
	background: #f7078f;
	padding: 10px 18px 20px;
	color: #fff;
	margin-bottom: 25px;
	}*/
div.b-create-set-promo {position:relative;left:0;top:0; width:274; height:343px; overflow:hidden; margin-bottom: 25px; background:url(/i/ys/f2.jpg) 0 0 no-repeat;}
div.b-create-set-promo h3 {
	font: 22px Tahoma, Verdana, Arial, sans-serif;
	margin-bottom: 3px;
	}
div.b-create-set-promo p {
	font: 17px Tahoma, Verdana, Arial, sans-serif;
	margin-bottom: 13px;
	}
/*div.b-create-set-promo a {
	border: 1px solid #e1e1e1;
	background: #fafafa;
	background: -moz-linear-gradient(left top, #fff, #e6e6e6);
	background: -webkit-gradient(left top, left bottom, from(#fff), to(#e6e6e6));
	font: bold 15px Arial, Helvetica, sans-serif;
	color: #000;
	padding: 4px 25px 4px;
	} */ 
div.b-create-set-promo a {position:absolute;left:18px;bottom:25px;display:block;width:233px;height:32px;overflow:hidden;background:url(/i/p.gif); text-indent:-9999px;}	


/* </mail */

/* starsets */
div.irhStarSet h3 {
	width: 172px;
	height: 15px;
	top: 0;
	}
div.irhStarSet h3 span.replacer,
div.irhStarSet h3 a.replacer {
	background: url(/i/ys/replacer-starset-h3.png) no-repeat left top;
	}
	
.b-starsets {
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	}
/* </starsets */
/* popular items */
div.irhPopularItems h3 {
	width: 204px;
	height: 17px;
	top: 0;
	}
div.irhPopularItems h3 span.replacer,
div.irhPopularItems h3 a.replacer {
	background: url(/i/ys/replacer-popular-items-h3.png) no-repeat left top;
	}
/* </popular items */
.b-sets-intro {
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	overflow:hidden;
	}
.b-sets-intro div.right {padding-top:32px;}
.b-sets-intro ul.ys-canvas__stuff li a {
    overflow: hidden;
    width: 110px; height: 110px;
    }
.b-sets-intro ul.ys-canvas__sets li a.set-image {
    overflow: hidden;
    width: 110px;
    }
.b-sets-intro ul.ys-canvas__sets li:hover a.set-image {
    border-color: #fff;
    }
.b-sets-intro ul.ys-canvas__sets li a.set-image img {
    width: auto;
    height: auto;
    border: 0;
    }
	
/* items roll */
.b-items-roll {
	padding-bottom: 40px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	}
.b-items-roll .ys-canvas__stuff {
	font: bold 12px Tahoma, Verdana, Arial, sans-serif;
	}
.b-items-roll .ys-canvas__stuff li {
	width: 110px;
	border: 0 !important;
	}
.b-items-roll .ys-canvas__stuff li a.image {
    display:table-cell;vertical-align:middle;
    width: 110px;
    height: 110px;
    overflow: hidden;
    padding-bottom: 10px;
    border: 1px solid #fff;
    }

	
	
.b-items-roll .ys-canvas__stuff li a.image:hover {
    border-color: #e5e5e5;
    }
	
	
.b-items-roll-category {
	list-style: none;
	font: 11px Tahoma, Verdana, Arial, sans-serif;
	padding-bottom: 0;
	border-bottom: 0;
	border-collapse:collapse;
	width:100%;
	}
.b-items-roll-category li {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 20px;
	}
.b-items-roll-category td {vertical-align:top;padding-right:23px;padding-bottom:20px;}
.b-items-roll-category tbody  td:first-child {width:150px;}
	
	
.b-items-roll-category a.item-image {
	display:table-cell;
	width: 150px;
	height: 150px;
    border: 1px solid #e5e5e5;
	text-align: center;
	vertical-align:middle;
	}
.b-items-roll-category h3 {
	padding-top: 10px;
	}
.b-items-roll-category div.controls {
	margin-bottom: 10px;
	}
.b-items-roll-category div.controls span.border {color:#B6B6B6;}	
.b-items-roll-category div.controls ul.ys-canvas__simple_tabs {
	display: inline-block;
	#display: inline;
	zoom: 1;
	margin-left: 5px;
	}
/* </items roll */

/* item layout */
.b-user_small {
	margin-bottom: 2px;
	}
.b-user_small img {
	display: block;
	margin:0 4px 6px 0;
	float:left;
	}
.b-user_small div.right {oveflow:hidden;}	
.b-user__rating {
	padding: 0 3px 1px;
	background: #fed6eb;
	color: #f70080;
	display: inline;
	}

.b-ys-item {
	overflow: hidden;
	zoom: 1;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	font: 11px Tahoma, Verdana, Arial, sans-serif;
	}
	
.b-ys-item .b-info {padding: 10px 10px 0px 10px; background:#E5E5E5;}
.b-ys-item div.hr {height:1px; background:#cecece;}	
.b-ys-item div.hr._2 {position:relative;left:0;top:-10px;}
.b-ys-item .b-info span.cost {display:block;margin:0 0 8px;font: bold 14px Arial, Helvetica, sans-serif;}
.b-ys-item .b-info span.cost span {font-size:11px; font-weight:normal;}
.b-ys-item .b-info h3 {margin-bottom:5px;}
.b-ys-item .b-info img.brand {display:block;margin:0 0 6px;}
.b-ys-item .b-info span.color {display:block;margin:0 0 12px;}
.b-ys-item .b-info span.note {display:block;margin:0 0 6px;}
.b-ys-item .b-info img.add {padding:0 0 25px;}
	
.b-ys-item div.b-ys-item__image {
	display:table-cell;
	width: 400px;
	height: 400px;
	border: 1px solid #e5e5e5;
	text-align: center;
	vertical-align:middle;
	}
.b-ys-item div.b-ys-item__image img {
	display: block;
	margin: 0 auto;
	margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");
	}
.b-ys-item div.b-ys-item__about-item {
	float: right;
	width: 165px;
	}
.b-ys-item .b-meta {
	margin-bottom: 12px;
	}
.b-ys-item .b-meta .b-date {clear:both; display:block;}	

.b-ys-item .b-ys-item__uactivity {
	background: #e5e5e5;
	padding: 8px 12px 12px;
	margin-bottom: 12px;
	}
.b-ys-item  h3 { /* .b-ys-item__uactivity */
	font: bold 14px Arial, Helvetica, sans-serif;
	margin-bottom: 2px;
	}
.b-ys-item .b-ys-item__uactivity p {
	font: 11px Tahoma, Verdana, Arial, sans-serif;
	margin-bottom: 8px;
	}
.b-ys-item .b-ys-item__uactivity a {
	border-left: 1px solid #d8d8d8;
	border-top: 1px solid #e1e1e1;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #bababa;
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background: -webkit-gradient(left top, left bottom, from(#fff), to(#e6e6e6));
	padding: 1px 7px 2px;
	font: bold 15px Arial, Helvetica, sans-serif;
	}
	
.b-ys-item .b-description {
	margin-bottom: 12px;
	}
	
.b-ys-item .b-ys-item__set-items {
	clear: both;
	zoom: 1;
	padding-top: 20px;
	}
.b-ys-item .b-ys-item__set-items ul.ys-canvas__stuff li a {
    width: 70px;
	height: 70px;
    overflow: hidden;
	margin:0 auto;
    }
.b-ys-item .b-ys-item__set-items ul.ys-canvas__stuff li img {
    width: auto; height: auto;
    }
/* </item layout */
/*** </CONTENT PAGES ***/


/*** YS CANVAS ***/
div.ys-canvas-container {
	background: #fff;
	border-top: 5px solid #f70080;
	width: 980px;
	overflow: hidden;
	margin: 0px auto;
	font: 11px Tahoma, Verdana, Arial, sans-serif;
	position: relative;
	top: 10px;
	}
div.ys-canvas-container h1 {
	background: #999;
	padding: 5px 0 5px 16px;
	font-size: 1em;
	line-height: 1.2em;
	}
	
div.ys-canvas-wrapper {
	height: 510px;
	position: relative;
	}
div.ys-canvas__sections {
	float: right; display: inline;
	width: 390px;
	height: 510px;
	position: relative;
	}
div.ys-canvas__canvas {
	float: left; display: inline;
	width: 570px;
	height: 510px;
	position: relative;
	padding: 0 10px;
	}
div.ys-canvas {
	position: absolute;
	top: 50px;
	left: 0;
	width: 590px;
	height: 460px;
	overflow:hidden;
	}
/*** empty column ***/
div.ys-canvas__empty {
	background: url(/i/ys/empty-bg.png) repeat-x 0 0;
	text-align: center;
	padding-top: 225px !important;
	height: 285px !important;
	}
div.ys-canvas__empty h1 {
	font: bold 24px/36px Arial, Helvetica, sans-serif;
	color: #7e7e7e;
	background: none;
	padding: 0;
	}
/*** </empty column ***/

/*** canvas tabs ***/
div.ys-canvas-tabs {
	position: absolute;
	z-index:2;
	left: 10px; top: 10px;
	width: 370px;
	}
	
div.ys-canvas-tabs__wrapper {
	overflow: hidden;
	zoom: 1;
	position: relative;
	}
div.ys-canvas-tabs__with-scroll {
	padding: 0 20px;
	}
div.ys-canvas-tabs__with-scroll a.ys-canvas-tabs__scroll_left,
div.ys-canvas-tabs__with-scroll a.ys-canvas-tabs__scroll_right {
	display: block;
	}
a.ys-canvas-tabs__scroll_left {
	width: 15px;
	height: 24px;
	position: absolute;
    z-index: 100;
	left: 0;
	top: 0;
	background: url(/i/ys/icon.scrolltabs.left.png) no-repeat 0 0;
    cursor: pointer;
    _cursor: hand;
    border-right: 5px solid #fff;
    display: none;
	}
a.ys-canvas-tabs__scroll_right {
    width: 15px;
    height: 24px;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    background: url(/i/ys/icon.scrolltabs.right.png) no-repeat 0 0;
    cursor: pointer;
    _cursor: hand;
    border-left: 5px solid #fff;
    display: none;
    }
    
    
ul.ys-canvas-tabs {
	list-style: none;
	font: 11px Tahoma, Verdana, Arial, sans-serif;
	position: relative;
	z-index: 50;
	white-space: nowrap;
	}
ul.ys-canvas-tabs a {
	cursor: pointer;
	_cursor: hand;
	}
ul.ys-canvas-tabs li {
	display: inline-block;
	#display: inline;
	zoom: 1;
	background: #e9e9e9;
	padding: 5px 11px 6px;
	vertical-align: top;
	border: 1px solid #fff;
	border-width: 0 1px 1px 0;
	}
ul.ys-canvas-tabs li.active {
	background: #cecece;
	}
ul.ys-canvas-tabs li.active a {
	color: #000;
	}
ul.ys-canvas-tabs li.user {
	padding-right: 8px;
	}
ul.ys-canvas-tabs li a.close {
	width: 5px;
	height: 5px;
	margin-left: 7px;
	vertical-align: baseline;
	display: inline-block;
	#display: inline;
	zoom: 1;
	background: url(/i/ys/icon.close.tab.png) no-repeat 0 0;
	position: relative;
	top: -1px;
	cursor: pointer;
	_cursor: hand;
	}
ul.ys-canvas-tabs li.new {
	background: #f8f8f8;
	}
/*** </canvas tabs ***/

/*** canvas active tab control ***/
div.ys-canvas__active_tab_control {
	background: #cecece;
	padding: 10px;
	}
div.ys-canvas__active_tab_control a {
	cursor: pointer;
	_cursor: hand;
}
ul.ys-canvas__simple_tabs {
	list-style: none;
	font: 11px Tahoma, Verdana, Arial, sans-serif;
	}
ul.ys-canvas__simple_tabs li {
	display: inline;
	padding-left: 6px;
	margin-right: 6px;
	border-left: 1px solid #b6b6b6;
	}
.ys-canvas-container ul.ys-canvas__simple_tabs li {
    margin-right: 7px;
    }
ul.ys-canvas__simple_tabs li a {
    cursor: pointer;
    _cursor: hand;
    }
ul.ys-canvas__simple_tabs li:first-child {
		border-left: none;
		padding-left:0;
	}
ul.ys-canvas__simple_tabs li.active a {
	color: #000;
	}
	
form.ys-canvas-search {
	text-align: center;
	}
form.ys-canvas-search div.label {
	position:relative;
	left:0;top:0;
	display:inline-block;
	display:_inline;
}	
span.ys-label {
	display:inline-block;
	vertical-align:middle;
	padding:0 3px 0 0;
	}
	
form.ys-canvas-search input[type=text] {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	vertical-align: middle;
	font: 12px/18px Tahoma, Verdana, Arial, sans-serif;
	padding: 0px 3px 1px;
	width: 190px;
	height: 18px;
	margin-right: 4px;
	}
form.ys-canvas-search input[type=submit] {
	border-left: 1px solid #c7297a;
	border-top: 1px solid #c7297a;
	border-right: 1px solid #c62176;
	border-bottom: 1px solid #9e0152;
	vertical-align: top;
	
	font: bold 13px/18px Arial, Helvetica, sans-serif;
	color: #fff;
	text-shadow: 1px 1px #a61460;
	padding: 0px 6px 1px;
	
	background: #f81e8f;
	background: -moz-linear-gradient(top, #fa48a3, #f70381);
	background: -webkit-gradient(left top, left bottom, from(#fa48a3), to(#f70381));
	}
	
div.full-search {
	/*overflow: hidden;
	*/text-align: center;
	}
div.full-search form.ys-canvas-search {
	display: inline-block;
	#display: inline;
	zoom: 1;
	vertical-align: top;
	}

div.search div.switcher {
	display: none;
	}
	

div.search a.home,
div.search a.prev,
div.search a.next {
	position:absolute;
	left:-9999px;
	top:-9999px;
	display: inline-block;
	#display: inline;
	zoom: 1;
	vertical-align: top;
	width: 20px;
	height: 20px;
	cursor: pointer;
	_cursor: hand;
	}
div.search a.home {margin-right: 20px;background: url(/i/ys/icon.tab.home.png) no-repeat 0 0;} 
div.search a.prev {background: url(/i/ys/icon.prevnext.png) no-repeat 0 0;}	
div.search a.next {background: url(/i/ys/icon.prevnext.png) no-repeat 0 100%;}
	
	
div.full-search a.home,
div.full-search a.prev,
div.full-search a.next {position:relative;left:0;top:0}


div.full-search div.switcher {
	display: inline-block;
	#display: inline;
	zoom: 1;
	vertical-align: top;
	margin-left: 6px;
	
	display: none;
	}
div.full-search div.switcher input {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	vertical-align: top;
	font: 12px Tahoma, Verdana, Arial, sans-serif;
	padding: 2px 3px;
	width: 23px;
	margin: 0 4px;
	text-align: right;
	}
/*** </canvas active tab control ***/

/*** canvas section ***/
div.ys-canvas__section {
	height: 405px;
	padding: 95px 10px 10px;
	border-left: 1px solid #e5e5e5;
	}
div.ys-canvas__section__overlay {
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.8;
	filter: alpha(opacity=50);
	z-index: 999;
	}
div.ys-canvas__loader {
	position: absolute; z-index: 9999;
	left: 50%; top: 50%;
	margin-left: -24px; margin-top: -24px;
	width: 48px; height: 48px;
	background: url(/i/ys/ajax-loader.gif) no-repeat 0 0;
	}
/*** canvases set ***/
ul.ys-canvas__sets {
	list-style: none;
	height: 100%;
	overflow: auto;
	}
ul.ys-canvas__sets li.ys-canvas__sets_set {
	position: relative;
	padding-left: 120px;
	min-height: 106px;
	margin-bottom: 10px;
	border: 1px solid #fff;
	padding-top: 7px;
	}
ul.ys-canvas__sets a.set-image {
	position: absolute;
	left: 0; top: 0;
	cursor: pointer;
	_cursor: hand;
	}
ul.ys-canvas__sets a.set-image img {
	display: block;
	border: 1px solid #e5e5e5;
	max-width: 110px;
	max-height: 112px;
	}
ul.ys-canvas__sets h2 {
	font: bold 12px Tahoma, Verdana, Arial, sans-serif;
	margin-bottom: 7px;
	}
	
ul.ys-canvas__sets li.ys-canvas__sets_set:hover,
ul.ys-canvas__sets li.ys-canvas__sets_set_active {
	border-color: #e5e5e5;
	}
ul.ys-canvas__sets li.ys-canvas__sets_set:hover a.set-image img,
ul.ys-canvas__sets li.ys-canvas__sets_set_active a.set-image img {
	border-color: #fff;
	}
/*** </canvases set ***/

/*** stuff list ***/
ul.ys-canvas__stuff {
	list-style: none;
	}
.ys-canvas__section ul.ys-canvas__stuff {
    height: 400px;
    overflow-y: scroll;
    }
ul.ys-canvas__stuff li {
	display: inline-block;
	#display: inline;
	zoom: 1;
	width: 110px;
	text-align: center;
	margin: 0 4px 10px;
	vertical-align: top;
	border: 1px solid #fff;
	position: relative;
	}
	
.ys-canvas ul.ys-canvas__stuff {
	width: 400px;
	}
.ys-canvas ul.ys-canvas__stuff li {
	margin-left: 0; margin-right: 0;
	margin-bottom: 7px;
	}
.ys-canvas_js_init ul.ys-canvas__stuff li {
	margin-right: 4px;
	width: 100px;
	height: 100px;
	}
	
.ys-canvas_js_init ul.ys-canvas__stuff li.no_data  {width:329px;margin:0;padding:0 10px; color:#F70080;}
	
ul.ys-canvas__stuff li a {
	cursor: pointer; cursor: hand;
	display: block;
	position: relative;
	}
ul.ys-canvas__stuff li:hover {
	border-color: #e5e5e5;
	}

ul.ys-canvas__stuff li.no_data:hover {border-color:#fff;}	
	
ul.ys-canvas__stuff img {
	display: block;
	margin: auto;
	}
ul.ys-canvas__stuff img.ys-canvas__tile_loading {
	background: url(/i/ys/ajax-loader.gif) no-repeat 50% 50%;
	}
ul.ys-canvas__stuff i {
    position: absolute;
    left: 0; top: 0;
    width: 68px; height: 68px;
    background: url(/i/ys/0.gif) repeat 0 0;
    }

div.ys-canvas-container ul.ys-canvas__stuff li i.cut {
	width: 90px;
	height: 68px;
	overflow: hidden;
	display: inline-block;
	#display: inline;
	zoom: 1;
	position: relative !important;
	padding-top: 5px;
	/*line-height: 68px;*/
	
	}
div.ys-canvas-container ul.ys-canvas__stuff li i.cut img {
	max-width: 68px;
	max-height: 68px;
	vertical-align: middle;
	}
	
ul.ys-canvas__stuff li.is-mine b {
	position: absolute;
	z-index: 100;
	bottom: 0; right: 0;
	width: 11px; height: 10px;
	background: url(/i/ys/icon.mine.png) no-repeat 0 0;
	}
    
.ys-canvas__item_dragged {
    position: absolute;
    width: 70px; height: 70px;
    padding: 5px;
    list-style: none;
    margin: -4px;
    }
.ys-canvas__item_dragged a,
.ys-canvas__item_dragged img,
.ys-canvas__item_dragged i {
    display: block; width: 68px; height: 68px;
    position: relative;
    }
.ys-canvas__item_dragged i {
    position: absolute;
    left: 0; top: 0;
    background: url(/i/ys/0.gif) repeat 0 0;
    }
/*** </stuff list ***/

/*** stuff item ***/
div.ys-canvas__stuff_item {
	position: absolute;
	z-index: 9999;
	padding: 0 3px 3px 0;
	width: 370px;
	overflow: hidden;
	}
div.ys-canvas__stuff_item_content {
	background: #e9e9e9;
	padding: 10px;
	overflow: hidden;
	zoom: 1;
	}
div.ys-canvas__stuff_item_content a.item-url {
    width: 150px; height: 150px;
    overflow: hidden;
    float: left; display: inline;
    margin: 0 10px 0 0;
    }
div.ys-canvas__stuff_item_content a.item-url img {
	width: 150px;
	margin: auto;
	display: block;
	}
div.ys-canvas__stuff_item_content img {
	}
div.ys-canvas__stuff_item_wrapper {
	overflow: hidden;
	zoom: 1;
	padding-top: 5px;
	font-size: 11px;
	}
div.ys-canvas__stuff_item_wrapper h2 {
	font: bold 12px Tahoma, Verdana, Arial, sans-serif;
	color: #f70080;
	margin-bottom: 8px;
	}
div.ys-canvas__stuff_item_wrapper div {
	margin-bottom:10px;
	}
div.ys-canvas__stuff_item_wrapper div.sub_rating {
	background:none;
	padding:0;
	margin-bottom:0;
	}
div.ys-canvas__stuff_item_wrapper div.brand {color:#f70080;}
div.ys-canvas__stuff_item_wrapper div.brand span {color:#000;}	
	
	
	
div.ys-canvas__stuff_item_wrapper div.sub_rating span.assessment {
	display:none;
	}
	
div.ys-canvas__stuff_item_wrapper ul.ys-canvas__simple_tabs {
	display: inline-block;
	#display: inline;
	zoom: 1;
	vertical-align: baseline;
	}
	
div.ys-canvas__stuff_item div.underlay {
	background: #000;
	opacity: 0.2;
	filter: alpha(opacity=20);
	position: absolute;
	z-index: -1;
	width: 100%; height: 1000px;
	left: 3px; top: 3px;
	}
div.ys-canvas__stuff_item a.close {
	position: absolute;
	z-index: 100;
	width: 15px; height: 15px;
	background: url(/i/ys/icon.close.tab.png) no-repeat 50% 50%;
	right: 8px;
	top: 5px;
	cursor: pointer;
	_cursor: hand;
	}
/*** </stuff item ***/
/*** </canvas section ***/

/*** canvas toolbars ***/
div.ys-canvas__empty div.ys-canvas__toolbars {
	display: none;
	}
div.ys-canvas__toolbars {
	padding-top: 10px;
	}
div.ys-canvas__toolbars dl.ys-canvas__toolbar {
	background: #ededed;
	display: inline-block;
	#display: inline;
	zoom: 1;
	height: 25px;
	padding: 5px 10px 0;
	margin-right: 20px;
	}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dt {
	display: inline-block;
	#display: inline;
	zoom: 1;
	vertical-align: top;
	
	font: bold 12px/20px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #000;
	margin-right: 10px;
	}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd {
	display: inline-block;
	#display: inline;
	zoom: 1;
	margin-right: 2px;
	}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a {
	display: inline-block;
	#display: inline;
	zoom: 1;
	height: 20px;
	width: 20px;
	cursor: pointer; _cursor: hand;
	}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.new 		{	background: url(/i/ys/icon.toolbar.new.png) no-repeat 0 0;			}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.undo 	{	background: url(/i/ys/icon.toolbar.undo.png) no-repeat 0 0; margin-left: 5px;			}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.redo 	{	background: url(/i/ys/icon.toolbar.redo.png) no-repeat 0 0;			}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.zoomin 	{	background: url(/i/ys/icon.toolbar.zoomin.png) no-repeat 0 0; margin-left: 5px;		}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.zoomout 	{	background: url(/i/ys/icon.toolbar.zoomout.png) no-repeat 0 0;		}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.center 	{	background: url(/i/ys/icon.toolbar.center.png) no-repeat 0 0;		}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.save 	{	background: url(/i/ys/icon.toolbar.save.png) no-repeat 0 0; margin-left: 5px;			}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.publish 	{	background: url(/i/ys/icon.toolbar.publish.active.png) no-repeat 0 0;		}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.remove 	{	background: url(/i/ys/icon.toolbar.remove.png) no-repeat 0 0;		}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.hflip 	{	background: url(/i/ys/icon.toolbar.hflip.png) no-repeat 0 0; margin-left: 5px;		}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.vflip 	{	background: url(/i/ys/icon.toolbar.vflip.png) no-repeat 0 0;		}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.underlay {	background: url(/i/ys/icon.toolbar.underlay.png) no-repeat 0 0; margin-left: 5px;		}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.clone 	{	background: url(/i/ys/icon.toolbar.clone.png) no-repeat 0 0; margin-left: 5px;		}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.zmore 	{	background: url(/i/ys/icon.toolbar.zmore.png) no-repeat 0 0; margin-left: 5px;		}
div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.zless 	{	background: url(/i/ys/icon.toolbar.zless.png) no-repeat 0 0;		}

div.ys-canvas__toolbars dl.ys-canvas__toolbar dd a.inactive {   opacity: 0.5; filter: alpha(opacity=50);     }
/*** </canvas toolbars ***/

/*** canvas ***/
div.ys-canvas {
	}
div.ys-canvas__item {
	position: absolute;
	cursor: pointer;
	cursor: hand;
	}
div.ys-canvas__item i {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	}
div.ys-canvas__item:hover {
	border: 1px dotted #bebebe;
	margin-left: -1px;
	margin-top: -1px;
	}
div.ys-canvas__item:hover i {
	background: #fff;
	opacity: 0.3;
	filter: alpha(opacity=30);
	}


div.ys-canvas__item b {
	position: absolute;
	width: 9px; height: 9px;
	margin-left: -5px; margin-top: -5px;
	background: #b2b2b2;
	display: none;
	}
div.ys-canvas__item b.lt {left: 0; top: 0; cursor: nw-resize;}
div.ys-canvas__item b.rt {left: 100%; top: 0; cursor: ne-resize;}
div.ys-canvas__item b.rb {left: 100%; top: 100%; cursor: se-resize;}
div.ys-canvas__item b.lb {left: 0; top: 100%; cursor: sw-resize;}
div.ys-canvas__item_active {
	border: 1px solid #bebebe !important;
	margin-left: -1px;
	margin-top: -1px;
	cursor: move;
	z-index: 9999;
	}
div.ys-canvas__item_active b {
	display: block;
	}

div.ys-canvas__item_active:hover i {
	background: none;
	opacity: 1;
	}
	
div.is_hflip div.hflip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph; /*IE*/
    }
div.is_vflip div.vflip {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv; /*IE*/
    }
div.is_underlay {
    background: #fff;
    }
/*** </canvas ***/

/*** publish ***/
div.ys-canvas__publish {
    width: 540px;
    position: absolute;
    z-index: 9999;
    left: 50%; margin-left: -270px;
    top: 80px;
    background: #cecece;
    font: 11px tahoma, verdana, sans-serif;
    }
div.ys-canvas__publish .b-deco {
    padding: 20px;
	background: #e5e5e5;
	position: relative;
	left: -5px; top: -5px;
	}
div.ys-canvas__publish h1 {
    margin-bottom: 15px;
    font: 24px "Trebuchet MS", Tahoma, Verdana;
    }
div.ys-canvas__publish fieldset {
	border: 0;
	margin-bottom: 10px;
	}
div.ys-canvas__publish label {
    display: block;
    }
div.ys-canvas__publish input {
    display: block;
    margin-top: 3px;
    width: 480px;
	font: 11px Tahoma, Verdana, Arial, sans-serif;
	padding: 3px;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	border-right: 1px solid #d4d0c8;
	border-bottom: 1px solid #d4d0c8;
    }

div.ys-canvas__publish ul.ys-canvas__publish_tags {
	list-style: none;
	font: bold 13px Tahoma, Verdana, Arial, sans-serif;
	margin-top: 6px;
	margin-bottom: 10px;
	}
div.ys-canvas__publish ul.ys-canvas__publish_tags li {
	margin-bottom: 6px;
	}
div.ys-canvas__publish ul.ys-canvas__publish_tags a {
	color: #000;
	background: #cecece;
	padding: 1px 2px 3px;
	}
div.ys-canvas__publish ul.ys-canvas__publish_tags a i {
	color: #f70080;
	font: 10px Tahoma, Verdana, Arial, sans-serif;
	padding: 5px;
	vertical-align: top;
	position: relative;
	top: 2px;
	cursor: pointer;
	_cursor: hand;
	}
	
div.ys-canvas__publish div.ys-canvas__publish_suggest {
	background: #cecece;
	position: relative;
	left: 5px; top: 5px;
	width: 488px;
	margin-top: 2px;
	}
div.ys-canvas__publish div.ys-canvas__publish_suggest .b-deco {
	position: relative;
	left: -5px; top: -5px;
	background: #fff;
	padding: 10px 12px;
	}
div.ys-canvas__publish div.ys-canvas__publish_suggest ul {
	list-style: none;
	max-height: 60px;
	overflow: auto;
	}
div.ys-canvas__publish div.ys-canvas__publish_suggest li {
	font: 13px Tahoma, Verdana, Arial, sans-serif;
	color: #f70080;
	padding-bottom: 4px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 2px;
	cursor: pointer;
	}
div.ys-canvas__publish div.ys-canvas__publish_suggest .original {
	color: #7f7f7f;
	}

div.ys-canvas__publish .b-foot {
	padding-top: 10px;
	}	
div.ys-canvas__publish button.publish {
	background: #999;
	border: 0;
	color: #fff;
	font: bold 14px Tahoma, Verdana, Arial, sans-serif;
	text-transform: lowercase;
	overflow: visible;
	width: auto;
	padding: 1px 15px 2px;
	cursor:pointer;
	}
div.ys-canvas__publish button.cancel {
	background: none;
	border: 0;
	font: 11px Tahoma, Verdana, Arial, sans-serif;
	color: #5c5c5c;
	text-decoration: underline;
	margin-left: 20px;
	border:none;
	cursor: pointer;
	_cursor: hand;
	padding: 0;
	}
/*** </publish ***/
/*** upload ***/
.ys-canvas__upload_form {
	margin: -95px -10px -10px;
	padding: 95px 18px 10px;
	height: 405px;
	background: url(/i/ys/empty-bg.png) repeat-x 0 0;
}
.ys-canvas__upload_form fieldset {
	border: 0;
	margin-bottom: 10px;
}
.ys-canvas__upload_form label {
	font: 11px Tahoma, Verdana, sans-serif;
}
.ys-canvas__upload_form label input,
.ys-canvas__upload_form label textarea,
.ys-canvas__upload_form label select {
	display: block;
	margin-top: 3px;
	width: 340px;
	font: 11px/13px Tahoma, Verdana, sans-serif;
	padding: 3px;
}
.ys-canvas__upload_form label input,
.ys-canvas__upload_form label textarea {
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	border-right: 1px solid #d4d0c8;
	border-bottom: 1px solid #d4d0c8;
	width: 334px;
}
.ys-canvas__upload_form .publish input {
    width: auto;
    display: inline-block;
    #display: inline;
    zoom: 1;
    margin-right: 4px;
    vertical-align: bottom;
    }
.ys-canvas__upload_form .submit input {
	background: #999;
	color: #fff;
	font: bold 14px Tahoma, Verdana, sans-serif;
	border: 0;
	text-transform: lowercase;
	overflow: visible;
	width: auto;
	padding: 1px 15px 2px;
}

.ys-canvas__upload_form label select optgroup {
	font: bold 12px Tahoma, Verdana, Arial, sans-serif;
	}
.ys-canvas__upload_form label select optgroup option {
	padding-left: 15px;
	}

/* ј€кс селект */	
div.ys_select {position:absolute; left:-9999px; top:-9999px; z-index:9999; overflow:hidden; margin:-1px 0px 0px -1px; padding:0px 5px 5px 0px;}
div.ys_select .container {position:relative; padding:7px 10px 12px 10px;  border:1px solid #e5e5e5; background:#fff; text-align:left;}
div.ys_select div.fon {position:absolute; left:6px; top:6px; width:100%; height:100%; background:#cecece;}

div.ys_selectrel {position:relative; left:0px; top:0px;}
div.ys_selectabs {position:absolute; right:-1px; left:auto; top:100%;}

div.ys_select._1{width:342px; margin: 2px 0 13px;}
div.ys_select ._1 div.container {padding:7px 15px 15px;}
div.ys_select._1 ul {max-height:90px; overflow-y:auto; }
div.ys_select._1 li {margin:0px; padding:2px 0; border-bottom:1px solid #e5e5e5; cursor:pointer;list-style:none;font-size:13px; color:#f70080;}
div.ys_select._1 li:hover {background:#e5e5e5;}
div.ys_select._1 li.no_hover {cursor:default;}
div.ys_select._1 li.no_hover:hover {background:none;}
div.ys_select._1 li span {color:#7f7f7f;}

div.ys_select._2{width:197px; margin: 2px 0 13px;}
div.ys_select ._2 div.container {padding:7px 15px 15px;}
div.ys_select._2 ul {max-height:90px; overflow-y:auto; }
div.ys_select._2 li {margin:0px; padding:2px 0; border-bottom:1px solid #e5e5e5; cursor:pointer;list-style:none;font-size:13px; color:#f70080;}
div.ys_select._2 li:hover {background:#e5e5e5;}
div.ys_select._2 li.no_hover {cursor:default;}
div.ys_select._2 li.no_hover:hover {background:none;}
div.ys_select._2 li span {color:#7f7f7f;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/*** </upload ***/

/*** modals ***/
.b-modal__overlay {
    position: absolute;
    z-index: 9998;
    left: 0; top: 0;
    width: 100%;
    background: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    }
.b-modal {
    position: absolute;
    z-index: 9999;
    left: 50%; margin-left: -150px;
    width: 300px;
    background: #cecece;
    }
.b-modal__deco {
    position: relative;
    left: -3px; top: -3px;
    background: #fff;
    border: 1px solid #efefef;
    padding: 10px 15px;
    }
.b-modal p {
    font: bold 12px Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 10px;
    }
.b-modal .b-modal__controls {
    text-align: center;
    }
.b-modal button {
    background: #999;
    border: 0;
    color: #fff;
    font: bold 14px Tahoma, Verdana, Arial, sans-serif;
    padding: 1px 15px 2px;
    width: auto;
    overflow: visible;
    margin: 0 5px;
    }
/*** </YS CANVAS ***/


/* ############## COLOR CHOOSER ############## */
.b-color-chooser {
	text-align: right;
	position: relative;
	padding-right: 12px;
	}
.b-color-chooser__header {
	color: #f70080;
	position: relative;
	z-index: 100;
	}
.b-color-chooser__chosen {
	display: inline-block;
	#display: inline;
	zoom: 1;
	border: 1px solid #999;
	padding: 1px;
	font-size: 0;
	vertical-align: middle;
	margin: 0 3px;
	position: relative;
	z-index: 100;
	}
.b-color-chooser__chosen i {
	display: inline-block;
	#display: inline;
	zoom: 1;
	width: 15px;
	height: 15px;
	}
.b-color-chooser__chooser {
	display: inline-block;
	#display: inline;
	zoom: 1;
	
	border-bottom: 0;
	border-right: 5px solid #fff;
	border-left: 5px solid #fff;
	border-top: 5px solid #f70080;
	
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	z-index: 100;
	}
	
.b-dropdown-dropped .b-color-chooser__list {
	display: block;
	}
.b-color-chooser__list {
	position: absolute;
	right: 0;
	top: 0;
	width: 170px;
	background: #cecece;
	text-align: right;
	margin-right: -5px;
	display: none;
	}
.b-color-chooser__list .b-deco {
	background: #fff;
	border: 1px solid #cecece;
	position: relative;
	left: -5px;
	top: -5px;
	padding: 30px 10px 10px;
	font: 11px Tahoma, Verdana, Arial, sans-serif;
	}
.b-color-chooser__list ul {
	list-style: none;
	font-size: 0;
	}
.b-color-chooser__list ul li {
	display: inline-block;
	#display: inline;
	zoom: 1;
	
	margin-left: 5px;
	border: 1px solid #999;
	padding: 1px;
	margin-bottom: 5px;
	}
.b-color-chooser__list ul a {
	display: inline-block;
	#display: inline;
	zoom: 1;
	
	width: 15px; height: 15px;
	}
	

.ys-canvas-container .b-color-chooser {
	position:relative;
	left:0;
	top:0;
	z-index:2;
    display: inline-block;
    #display: inline;
    zoom: 1;
    padding-right: 5px;
    }
.ys-canvas-container .b-color-chooser__chooser {
    border: 1px solid #999 !important;
    margin: 0 !important;
    }
.ys-canvas-container .b-color-chooser__chooser i {
    background: url(/i/ys/rainbow.png) no-repeat left top;
    }
.ys-canvas-container .b-color-chooser__chooser i a {
    display: inline-block;
    #display: inline;
    zoom: 1;
    
    width: 15px;
    height: 15px;
    }
.ys-canvas-container .b-color-chooser__list {
    right: -135px;
    text-align: left;
    margin-left: -5px;
    }
.ys-canvas-container .b-color-chooser__list ul li {
    margin-left: 0;
    margin-right: 5px;
    }	
	
form.ys_filter {margin: 0 0 25px;padding: 10px 0 16px;background:#e5e5e5; text-align:center;}
form.ys_filter label {display:inline-block; vertical-align:middle; width:111px;margin:0 3px;}
form.ys_filter label.send {width:auto;}
form.ys_filter span.h {display:block;margin:0 0 2px;text-align:left;}
form.ys_filter label.disabled span.h {color:#aca899;}
form.ys_filter select {width:100%;}
form.ys_filter label.send input {padding:1px 3px;}






	
