{% extends '/GenericInner.twig' %}


{% block head %}

    <title>ТОП пользователей сайта - popcornnews</title>

    <style type="text/css">
        #loading{
            display: none;
            margin-top: 20px;
            text-align: center;
        }
    </style>


    {#<script type="text/javascript">
        (function() {
            (function(root, factory) {
                if (typeof define === 'function' && define.amd) {
                    return define(['jquery', 'waypoints'], factory);
                } else {
                    return factory(root.jQuery);
                }
            })(this, function($) {
                var defaults;

                defaults = {
                    container: 'auto',
                    items: '#top-users tr',
                    more: '#more',
                    offset: 'bottom-in-view',
                    loadingClass: 'infinite-loading',
                    onBeforePageLoad: $.noop,
                    onAfterPageLoad: $.noop
                };
                return $.waypoints('extendFn', 'infinite', function(options) {
                    var $container;

                    options = $.extend({}, $.fn.waypoint.defaults, defaults, options);
                    if ($(options.more).length === 0) {
                        return this;
                    }
                    $container = options.container === 'auto' ? this : $(options.container);
                    options.handler = function(direction) {
                        var $this;

                        if (direction === 'down') {
                            $this = $(this);
                            options.onBeforePageLoad();
                            $this.waypoint('disable');

                            $('#loading').show();

                            var offset = [
                                $('#top-users').find('tr:last').attr('data-loop-id'),
                                20
                            ];

                            return $.post('/ajax/users/top',{offset: offset},function(response){
                                var $data, $more, $newMore;

                                $container.append(response.topUsers);

                                $this.waypoint('enable');
	                            $('#loading').hide();
                                return options.onAfterPageLoad();
                            },'json');
                        }
                    };
                    return this.waypoint(options);
                });
            });

        }).call(this);
    </script>

    <script type="text/javascript">
        $(function(){
	        {% if slim.path[3] is null %}
                $('#top-users').waypoint('infinite');
            {% endif %}
            $('html,body').animate({scrollTop:0},200);
        });
    </script>#}

{% endblock %}

{% block content %}

    <div class="b-grid__g8 b-users b-users-top">

        <h1>Пользователи</h1>

	    {% include '/users/UsersMenu.twig' %}

	    <table class="b-users-table__full">
            {% include '/users/UserRows.twig' %}
        </table>

        <div id="loading"><img src="/st/img/loaders/pink-loader-small.gif" alt=""/></div>

        <a id="more" href="#"></a>

    </div>

{% endblock %}