<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ie6"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js">         <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/st/css/style.css" media="screen, projection, print">

    <script type="text/javascript" src="/st/js/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="/st/js/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">
        if((/Opera Mini/.test(navigator.userAgent))) {
            $('html').addClass('operamini');
            window.operamini = true;
        }
    </script>

    <!--<LINK rel="icon" href="/favicon.ico" type="image/x-icon">
    <LINK rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->

    {% block head %}{% endblock %}
</head>
<body>

<div class="i-wrapper">
<div class="i-maincontent">
<div class="i-container b-grid">
<div role="main">
<header class="b-header clearfix" role = "banner">
    <div class="b-header__top b-grid__g12 clearfix">
        <div class="b-grid__g3 b-grid__p6 b-grid__a">
            <div class="b-search-stroke">
                <form>
                    <input type="search" class="b-search-stroke__input" placeholder="поиск по новостям" />
                    <input type="submit" value="" class="b-search-stroke__submit" />
                </form>
            </div>
        </div>
        <div class="b-grid__g3 b-grid__z">
            <div class="b-share-small"></div>
        </div>
    </div>
    <div class="b-header__main b-grid__g12 clearfix">
        <a href="#" class="b-header__logo b-logo">
            <span class="b-logo__pink">поп</span><span class="b-logo__black">корн</span><span class="b-logo__gray">news</span>
        </a>

        <div class="b-header__user-panel b-user-panel b-user-panel_islogin clearfix">
            <div class="b-user-panel__user-info">
                <a href="#" class="b-user-panel__user-name">Anna Salwatore</a>
                <div class="b-user-panel__user-status">
                    <a href="#" class="b-user-panel__user-messages">
                        <span class="b-user-panel__user-messages-title">сообщения</span>
                        <span class="b-user-panel__user-messages-count">4</span>
                    </a>
                    <a href="#" class="b-user-panel__user-guestroom">
                        <span class="b-user-panel__user-guestroom-title">гостевая</span>
                        <span class="b-user-panel__user-guestroom-count">1</span>
                    </a>
                </div>
            </div>
            <a href="#" class="b-user-panel__user-avatar">
                <img src="/st/img/content/phs5.jpg" alt="" />
            </a>
        </div>
    </div>
</header>

<nav role="navigation" class="b-grid__g12 b-navigation clearfix">
    <ul class="b-main-menu clearfix">
        <li class="b-main-menu__item"><a class="b-main-menu__link" href="#">новости</a></li>
        <li class="b-main-menu__item"><a class="b-main-menu__link" href="#">персоны</a></li>
        <li class="b-main-menu__item"><a class="b-main-menu__link" href="#">пары</a></li>
        <li class="b-main-menu__item"><a class="b-main-menu__link" href="#">дети</a></li>
        <li class="b-main-menu__item"><a class="b-main-menu__link" href="#">сообщество</a></li>
        <li class="b-main-menu__item"><a class="b-main-menu__link" href="#">your.style</a></li>
        <li class="b-main-menu__item"><a class="b-main-menu__link" href="#">пользователи</a><span class="b-main-menu__counter b-counter">336</span></li>
        <li class="b-main-menu__item"><a class="b-main-menu__link" href="#">правила</a></li>
        <li class="b-main-menu__item"><a class="b-main-menu__link" href="#">FAQ</a></li>
    </ul>

    <ul class="b-sub-menu clearfix">
        <li class="b-sub-menu__item b-sub-menu__item_active"><a class="b-sub-menu__link" href="#">главная</a></li>
        <li class="b-sub-menu__item"><a class="b-sub-menu__link" href="#">звезды</a></li>
        <li class="b-sub-menu__item"><a class="b-sub-menu__link" href="#">мода</a></li>
        <li class="b-sub-menu__item"><a class="b-sub-menu__link" href="#">красота</a></li>
        <li class="b-sub-menu__item"><a class="b-sub-menu__link" href="#">кино</a></li>
        <li class="b-sub-menu__item"><a class="b-sub-menu__link" href="#">тв и сериалы</a></li>
        <li class="b-sub-menu__item"><a class="b-sub-menu__link" href="#">музыка</a></li>
        <li class="b-sub-menu__item"><a class="b-sub-menu__link" href="#">гаджеты</a></li>
        <li class="b-sub-menu__item"><a class="b-sub-menu__link" href="#">фитнес</a></li>
        <li class="b-sub-menu__item"><a class="b-sub-menu__link" href="#">киноафиша</a></li>
    </ul>
</nav>


{% block content %}{% endblock %}

</div>
</div>
</div>
<div class = "i-footer-empty"></div>
</div>

<!-- FOOTER HERE -->
<footer class="b-footer" role="contentinfo">
    <div class="i-container clearfix">
        <div class="b-grid__g12 b-footer__body">
            <div class="b-footer__top">
                <a href="#" class="b-footer__logo b-logo b-logo_small">
                    <span class="b-logo__pink">поп</span><span class="b-logo__black">корн</span><span class="b-logo__gray">news</span>
                </a>
                <a href="#" class="b-footer__contacts">
                    Контакты &gt;
                </a>
            </div>
            <div class="b-footer__copyright">
                &copy; 2007-2012 Все права и материалы принадлежат «POPCORNNEWS»<br />
                При копировании информации ставить активную ссылку на сайт www.popcornnews.ru
            </div>
        </div>
    </div>
</footer>
<!-- THANKS FOR YOU ATTENTION -->
</body>
</html>