{% extends '/GenericInner.twig' %}

{% block head %}

    <title>Напоминание пароля - popcornnews</title>
    <meta name="description" content="Напоминание пароля на сайте popcornnews" />
    <meta name="keywords"    content="напоминание пароля забыли пароль новый пароль" />

    <script type="text/javascript">
        $(function(){
            $('.b-form input[name=email]').focus();
        });
    </script>

{% endblock %}

{% block content %}

    <div class="b-grid__g8">
        <article class="b-remind">

            {% if status == 'success' %}

                <h1>Восстановление пароля</h1>
                <p class="system-message">
                    <strong>Проверьте свою электронную почту</strong><br/><br/>
                    Инструкции по восстановлению вашего пароля были высланы на адрес электронной почты, указанный при регистрации.
                </p>

            {% elseif status == 'success2' %}

                <h1>Восстановление пароля</h1>
                <p class="system-message">
                    <strong>Проверьте свою электронную почту</strong><br/><br/>
                    Мы создали новый пароль, вы его найдете в своей электронной почте.
                </p>

            {% else %}

                <h1>Восстановление пароля</h1>

                <form class="b-form" action="/remind" method="POST" enctype="multipart/form-data" name="fr">

                    <label>
                        <strong>E-mail <sup>*</sup></strong>
                        <input type="text" name="email">
                    </label>

                    <input value="напомнить" class="b-firm-grad" type="submit"/>

                </form>

            {% endif %}


        </article>
    </div>

{% endblock %}