/* ====== Title: Create your style ====== */
.b-create-your-style {
  background-image: url('../img/background/your-style.png');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  padding-top: 41px;
  padding-left: 20px;
  padding-bottom: 48px;
  width: 250px;
}
.b-create-your-style__rubrics-title {
  margin-bottom: 8px;
}
.b-create-your-style__body {
  overflow: hidden;
}
.b-create-your-style__text {
  font-size: 13px;
  line-height: 1.2;
  width: 170px;
  float: left;
}
.b-create-your-style__link {
  display: block;
  float: left;
  text-decoration: none;
  font-size: 30px;
  color: #ccc;
  width: 32px;
  padding-left: 3px;
  height: 35px;
  text-align: center;
  line-height: 34px;
  border-radius: 50%;
  margin-left: 12px;
  margin-top: 13px;
  font-weight: bold;
}
.no-borderradius .b-create-your-style__link {
  text-indent: -9999px;
  background: url('../img/controls/style-button.png');
  background-repeat: no-repeat;
}
