/* ====== Title: Footer ====== */
.b-footer {
  position: relative;
  margin-top: -140px;
  padding-top: 10px;
  height: 130px;
  width: 100%;
}
.b-footer__body {
  background-color: #f2f2f2;
  height: 130px;
}
.b-footer__top {
  padding: 34px 20px 0;
  margin-bottom: 9px;
}
.b-footer__contacts {
  margin-left: 14px;
  color: black;
  text-decoration: none;
  font-size: 13px;
}
.b-footer__copyright {
  padding: 0 20px;
  font-size: 10px;
  line-height: 1.4;
  color: #6b6a6a;
}
