/* ====== Title: 960.gs BEM ====== */
.b-grid__c12 {
  width: 960px;
}
.b-grid__g1,
.b-grid__g2,
.b-grid__g3,
.b-grid__g4,
.b-grid__g5,
.b-grid__g6,
.b-grid__g7,
.b-grid__g8,
.b-grid__g9,
.b-grid__g10,
.b-grid__g11,
.b-grid__g12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.b-grid__mr1,
.b-grid__mr1,
.b-grid__mr2,
.b-grid__mr2,
.b-grid__mr3,
.b-grid__mr3,
.b-grid__mr4,
.b-grid__mr4,
.b-grid__mr5,
.b-grid__mr5,
.b-grid__mr6,
.b-grid__mr6,
.b-grid__mr7,
.b-grid__mr7,
.b-grid__mr8,
.b-grid__mr8,
.b-grid__mr9,
.b-grid__mr9,
.b-grid__mr10,
.b-grid__mr10,
.b-grid__mr11,
.b-grid__mr11,
.b-grid__mr12,
.b-grid__mr12 {
  position: relative;
}
/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.b-grid__g1 {
  width: 60px;
}
.b-grid__g2 {
  width: 140px;
}
.b-grid__g3 {
  width: 220px;
}
.b-grid__g4 {
  width: 300px;
}
.b-grid__g5 {
  width: 380px;
}
.b-grid__g6 {
  width: 460px;
}
.b-grid__g7 {
  width: 540px;
}
.b-grid__g8 {
  width: 620px;
}
.b-grid__g9 {
  width: 700px;
}
.b-grid__g10 {
  width: 780px;
}
.b-grid__g11 {
  width: 860px;
}
.b-grid__g12 {
  width: 940px;
}
/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.b-grid__p1 {
  padding-left: 80px;
}
.b-grid__p2 {
  padding-left: 160px;
}
.b-grid__p3 {
  padding-left: 240px;
}
.b-grid__p4 {
  padding-left: 320px;
}
.b-grid__p5 {
  padding-left: 400px;
}
.b-grid__p6 {
  padding-left: 480px;
}
.b-grid__p7 {
  padding-left: 560px;
}
.b-grid__p8 {
  padding-left: 640px;
}
.b-grid__p9 {
  padding-left: 720px;
}
.b-grid__p10 {
  padding-left: 800px;
}
.b-grid__p11 {
  padding-left: 880px;
}
/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.b-grid__s1 {
  padding-right: 80px;
}
.b-grid__s2 {
  padding-right: 160px;
}
.b-grid__s3 {
  padding-right: 240px;
}
.b-grid__s4 {
  padding-right: 320px;
}
.b-grid__s5 {
  padding-right: 400px;
}
.b-grid__s6 {
  padding-right: 480px;
}
.b-grid__s7 {
  padding-right: 560px;
}
.b-grid__s8 {
  padding-right: 640px;
}
.b-grid__s9 {
  padding-right: 720px;
}
.b-grid__s10 {
  padding-right: 800px;
}
.b-grid__s11 {
  padding-right: 880px;
}
/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.b-grid__mr1 {
  left: 80px;
}
.b-grid__mr2 {
  left: 160px;
}
.b-grid__mr3 {
  left: 240px;
}
.b-grid__mr4 {
  left: 320px;
}
.b-grid__mr5 {
  left: 400px;
}
.b-grid__mr6 {
  left: 480px;
}
.b-grid__mr7 {
  left: 560px;
}
.b-grid__mr8 {
  left: 640px;
}
.b-grid__mr9 {
  left: 720px;
}
.b-grid__mr10 {
  left: 800px;
}
.b-grid__mr11 {
  left: 880px;
}
/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.b-grid__ml1 {
  left: -80px;
}
.b-grid__ml2 {
  left: -160px;
}
.b-grid__ml3 {
  left: -240px;
}
.b-grid__ml4 {
  left: -320px;
}
.b-grid__ml5 {
  left: -400px;
}
.b-grid__ml6 {
  left: -480px;
}
.b-grid__ml7 {
  left: -560px;
}
.b-grid__ml8 {
  left: -640px;
}
.b-grid__ml9 {
  left: -720px;
}
.b-grid__ml10 {
  left: -800px;
}
.b-grid__ml11 {
  left: -880px;
}
.b-grid__a {
  margin-left: 0;
}
.b-grid__z {
  margin-right: 0;
}
