.b-pink-button {
  width: 35px;
  height: 35px;
  background-image: url('../img/controls/pink_buttons.png');
  background-repeat: no-repeat;
}
.b-pink-button__left {
  background-position: 0 0;
}
.b-pink-button__right {
  background-position: 0 -85px;
}
