/* ====== Title: Rubrics title ====== */
.b-rubrics-title {
  font-weight: bold;
}
.b-rubrics-title a {
  color: #000;
}
.b-rubrics-title_s48 {
  font-size: 48px;
  line-height: 1.08;
}
.b-rubrics-title_s30 {
  font-size: 30px;
}
.b-rubrics-title_s24 {
  font-size: 24px;
}
.b-rubrics-title_s20 {
  font-size: 20px;
}
.b-rubrics-title_s18 {
  font-size: 18px;
}
