.b-side {
  padding-top: 10px;
}
.b-side__vertical-margin {
  margin-bottom: 20px;
}
.b-side__vertical-margin_30 {
  margin-bottom: 30px;
}
.b-side__vertical-margin_35 {
  margin-bottom: 35px;
}
.b-side__vertical-margin_60 {
  margin-bottom: 60px;
}
.b-side__gray-line {
  border-top: 5px #e5e5e5 solid;
}
