/* ====== Title: Star's childrens ====== */
.b-star-childrens__link {
  text-decoration: none;
  display: block;
  width: 270px;
  overflow: hidden;
}
.b-star-childrens__img {
  max-height: 185px;
  display: block;
  margin-bottom: 8px;
}
.b-star-childrens__news-title {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
