/* CSS Reset section */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100.01%; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.41;
  font-family: Arial, Helvetica, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0; }

a {
  border: 0 none;
  outline: 0 none; }
  a:focus {
    border: 0 none; }
  a img {
    border: 0 none;
    outline: 0 none; }
    a img:focus {
      border: 0 none; }

textarea, input {
  outline: 0 none; }

a {
  color: #0000ee; }
  a:focus {
    outline: thin dotted; }

/* Stuff */
.ir {
  border: 0 none;
  font-size: 0px;
  line-height: 0;
  font-family: a;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }

.ib {
  display: inline-block;
  vertical-align: top; }

.hidden {
  display: none !important;
  visibility: hidden; }

.clearfix:before {
  content: "";
  display: table; }
.clearfix:after {
  content: "";
  display: table;
  clear: both; }
