.idea
.realsync
logs
vendor
var
tmp
composer.lock
*.DS_*
htdocs/branding
htdocs/df
htdocs/layouts
htdocs/test
htdocs/editor/css/.sass-cache
.ht*
*.htm*
htdocs/images
*.txt
*.log
htdocs/editor
htdocs/gifts
htdocs/img
htdocs/img1
htdocs/k
htdocs/k1
htdocs/tmp_photos
htdocs/html
htdocs/img_temp
htdocs/kinoupload
htdocs/other_upload
htdocs/upload
htdocs/upload1
htdocs/avatars
htdocs/avatars1
htdocs/i
htdocs/i1
htdocs/lastnew_v2.html
htdocs/smiles
htdocs/smiles1
htdocs/user_photos
htdocs/user_photos1
htdocs/avatars_small
htdocs/avatars_small1
htdocs/swf
htdocs/swf1
htdocs/video
htdocs/video1
htdocs/data/var
backup
htdocs/pool
htdocs/testt
htdocs/user
htdocs/widget
htdocs/xml_fo*
htdocs/manager/i
config/config.ini
upload