<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Страница не найдена, ошибка 404</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Страница не найдена" />
    <meta name="keywords"    content="404" />
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/popcorn.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="/assets/css/error.css" media="screen, projection, print">
</head>
<body>
    <div class="page-wrapper">
        <div class="logo"><a href="/"><img src="/assets/img/logo/popcorn-logo-little.png" alt=""/></a></div>

        <h1>ошибка 404:</h1>

        <h2>страница не найдена</h2>

        <p class="hint">
            Неправильно набран адрес или<br/>такой страницы на сайте больше<br/>не существует.<br/>
            Попробуйте вернуться на <a href="/">главную</a>.
        </p>
    </div>
    <div class="footer">
	    {% include '/GenericNavigation.twig' %}
    </div>
</body>
</html>