<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Страница не найдена, ошибка 404</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Страница не найдена" />
    <meta name="keywords"    content="404" />
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/st/css/reset.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="/st/css/style.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="/st/css/error.css" media="screen, projection, print">
</head>
<body>
    <div class="page-wrapper">
        <div class="logo"><a href="/"><img src="/st/img/logo/popcorn-logo-little.png" alt=""/></a></div>

        <h1>ошибка 404:</h1>

        <h2>страница не найдена</h2>

        <p class="hint">
            Неправильно набран адрес или<br/>такой страницы на сайте больше<br/>не существует.<br/>
            Попробуйте вернуться на <a href="/">главную</a>.
        </p>
    </div>
    <div class="footer">
        <nav class="b-grid__g12 b-navigation clearfix" role="navigation">
            <ul class="b-main-menu clearfix">
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">новости</a></li>
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">персоны</a></li>
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">пары</a></li>
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">дети</a></li>
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">сообщество</a></li>
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">your.style</a></li>
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">пользователи</a><span class="b-main-menu__counter b-counter">336</span></li>
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">правила</a></li>
                <li class="b-main-menu__item"><a href="#" class="b-main-menu__link">FAQ</a></li>
            </ul>

            <ul class="b-sub-menu clearfix">
                <li class="b-sub-menu__item b-sub-menu__item_active"><a href="#" class="b-sub-menu__link">главная</a></li>
                <li class="b-sub-menu__item"><a href="#" class="b-sub-menu__link">звезды</a></li>
                <li class="b-sub-menu__item"><a href="#" class="b-sub-menu__link">мода</a></li>
                <li class="b-sub-menu__item"><a href="#" class="b-sub-menu__link">красота</a></li>
                <li class="b-sub-menu__item"><a href="#" class="b-sub-menu__link">кино</a></li>
                <li class="b-sub-menu__item"><a href="#" class="b-sub-menu__link">тв и сериалы</a></li>
                <li class="b-sub-menu__item"><a href="#" class="b-sub-menu__link">музыка</a></li>
                <li class="b-sub-menu__item"><a href="#" class="b-sub-menu__link">гаджеты</a></li>
                <li class="b-sub-menu__item"><a href="#" class="b-sub-menu__link">фитнес</a></li>
                <li class="b-sub-menu__item"><a href="#" class="b-sub-menu__link">киноафиша</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>