<li class="start">
	<a href="/dashboard">
		<i class="fa fa-home"></i>
		<span class="title">Консоль</span>
	</a>
</li>

<li class="{% if app.request.path starts with '/office/calendar' %}active{% endif %}">
	<a href="javascript:;">
		<i class="fa fa-cogs"></i>
		<span class="title">Календарь</span>
		<span class="arrow open"></span>
	</a>
	<ul class="sub-menu">
		<li class="{% if app.request.path == '/office/calendar/event_add' %}active{% endif %}">
			<a href="/office/calendar/event_add">
				Добавить событие
			</a>
		</li>
	</ul>
</li>

{#Новости, посты, fashionbattle#}
<li class="{% if app.request.path starts with '/office/post' %}active{% endif %}">
	<a href="javascript:;">
		<i class="fa fa-cogs"></i>
		<span class="title">Новости</span>
		<span class="arrow open"></span>
	</a>
	<ul class="sub-menu">
		<li class="{% if app.request.path == '/office/post_create' %}active{% endif %}">
			<a href="/office/post_create">
				Добавить новость
			</a>
		</li>
		<li class="{% if app.request.path == '/office/posts' %}active{% endif %}">
			<a href="/office/posts">
				Найти все
			</a>
		</li>
	</ul>
</li>

<li class="{% if app.request.path starts with '/office/photoarticle' %}active{% endif %}">
	<a href="javascript:;">
		<i class="fa fa-cogs"></i>
		<span class="title">Фото-статьи</span>
		<span class="arrow open"></span>
	</a>
	<ul class="sub-menu">
		<li class="{% if app.request.path == '/office/photoarticle_create' %}active{% endif %}">
			<a href="/office/photoarticle_create">
				Добавить фото-статью
			</a>
		</li>
		<li class="{% if app.request.path == '/office/photoarticles' %}active{% endif %}">
			<a href="/office/photoarticles">
				Найти все
			</a>
		</li>
	</ul>
</li>


{#Персоны#}
<li class="{% if app.request.path starts with '/office/person' %}active{% endif %}">
	<a href="javascript:;">
		<i class="fa fa-cogs"></i>
		<span class="title">Персоны</span>
		<span class="arrow open"></span>
	</a>
	<ul class="sub-menu">
		<li class="{% if app.request.path == '/office/person_create' %}active{% endif %}">
			<a href="/office/person_create">
				Создать персону
			</a>
		</li>
		<li class="{% if app.request.path == '/office/persons' %}active{% endif %}">
			<a href="/office/persons">
				Просмотреть все
			</a>
		</li>
	</ul>
</li>

{#Дети#}
<li class="{% if app.request.path starts with '/office/kid' %}active{% endif %}">
	<a href="javascript:;">
		<i class="fa fa-cogs"></i>
		<span class="title">Дети</span>
		<span class="arrow open"></span>
	</a>
	<ul class="sub-menu">
		<li class="{% if app.request.path == '/office/kid_create' %}active{% endif %}">
			<a href="/office/kid_create">
				Добавить ребенка
			</a>
		</li>
		<li class="{% if app.request.path == '/office/kids' %}active{% endif %}">
			<a href="/office/kids">
				Найти детей
			</a>
		</li>
	</ul>
</li>


<li class="{% if app.request.path starts with '/office/poll' %}active{% endif %}">
	<a href="javascript:;">
		<i class="fa fa-cogs"></i>
		<span class="title">Опросы</span>
		<span class="arrow open"></span>
	</a>
	<ul class="sub-menu">
		<li class="{% if app.request.path == '/office/poll_create' %}active{% endif %}">
			<a href="/office/poll_create">
				Создать новый
			</a>
		</li>
		<li class="{% if app.request.path == '/office/polls' %}active{% endif %}">
			<a href="/office/polls">
				Просмотреть все
			</a>
		</li>
	</ul>
</li>