<a href="#" id="comments" name="comments"></a>

{% spaceless %}
	<section class="b-comments">
		<ul>
			{% include '/comments/Comments.twig' with {'comments':commentsTree} %}
		</ul>
	</section>
{% endspaceless %}

<script type="text/javascript">
	$(function(){
		if (location.hash == '#new-comment'){
			$('.b-new-message-box__message').focus();
		}
	});
</script>

{% if currentUser.id %}

	<a id="new-comment" name="new-comment" href="#"></a>

	<div class="b-new-message-box" data-reply-to="0" data-level-id="0">
		<div class="b-new-message-box__ava"><img src="/assets/img/no-photo/small.png" alt=""/></div>

		<div class="b-new-message-box__message-container">
			<div class="b-new-message-box__smile-toogle"></div>
			<div class="b-new-message-box__message" contenteditable="true" spellcheck="false"></div>

			<div class="b-new-message-box__attach"></div>
		</div>
		<div class="clearfix"></div>

		<input class="b-new-message-box__add-attach" id="new-message-add-photo" value="добавить фотографии" type="button"/>

		<div style="float:left;margin:13px 0 0 40px;">
			<label><input type="checkbox"/><span style="position: relative;top:-3px;">&nbsp;Уведомлять о новых комментариях</span></label>
		</div>

		<input type="button" class="b-new-message-box__send-button" value="отправить"/>

		<div class="clearfix"></div>
	</div>

	<div class="b-comments__new-comment">
		<a href="#">Написать комментарий</a>
	</div>

{% else %}

	<!--noindex-->
	<div class="b-comments__auth-form">
		<a href="/" onclick="focusAtAuthForm();return false;">Авторизуйтесь</a> или <a href="/register">зарегистрируйтесь</a> для того, чтобы оставлять комментарии
	</div>
	<!--/noindex-->

{% endif %}