{% extends '/GenericInner.twig' %}
{% import '/Mixins.twig' as html %}

{% if paginator.active > 1 %}
	{% set paginatorTitle = 'Страница ' ~ paginator.active ~ ' - ' %}
{% endif %}

{% if slim.path[1] == 'category' %}
	{% set title = 'Новости - '~ category.name|e ~' - ' ~ paginatorTitle ~ 'popcornnews' %}
	{% set paginatorMask = '/category/%s/page%%u'|format(slim.path[2]) %}
{% elseif slim.path[1] == 'tag' %}
	{% set title = 'Новости - '~ tag.name|e ~' - ' ~ paginatorTitle ~ 'popcornnews' %}
	{% set paginatorMask = '/tag/%s/page%%u'|format(slim.path[2]) %}
{% else %}
	{% set title = 'Новости - ' ~ paginatorTitle ~ 'popcornnews' %}
	{% set paginatorMask = '/news/page%u' %}
{% endif %}


{% block head %}
	<title>{{ title }}</title>
{% endblock %}


{% block content %}

	<div class="b-grid__g8">
		<div class="clearfix">
			<div class="b-grid__g6 b-grid__a">

				{% include '/news/PostList.twig' %}

				{{
					html.paginator(
						 paginator.pages
						,paginator.active
						,paginatorMask
					)
				}}

			</div>
		</div>
	</div>

{% endblock %}