{% extends '/community/CommunityGeneric.twig' %}
{% import '/Mixins.twig' as html %}

{% block head %}

	<title>Сообщество - правила - popcornnews</title>

{% endblock %}


{% block communityContent %}
	<div class="b-grid__g8 b-text b-faq">
		<h3 class="b-community-header" style="line-height: normal;">Перед тем, как создать сообщество или вступить в него, Вы обязаны внимательно ознакомиться с Правилами:</h3>
		<ol class="faqList">
			<li><span>общение ведется на русском языке;</span></li>
			<li><span>запрещены любые проявления нетерпимости к разным расовым различиям и национальностям;</span></li>
			<li><span>запрещено выкладывать провокационную и/или ложную информацию с других сайтов;</span></li>
			<li><span>запрещено нецензурно выражаться, оскорблять друг друга или администрацию, использовать мат в названиях, описаниях и сообщениях, на аватарах и в никнеймах, мат в завуалированной форме;</span></li>
			<li><span>запрещено использовать аватары и ники, связанные с нацизмом или содержащие нацистскую символику;</span></li>
			<li><span>запрещена реклама;</span></li>
			<li><span>запрещено добавлять фотографии порнографического содержания;</span></li>
			<li><span>запрещено публиковать вредоносные ссылки;</span></li>
			<li><span>запрещена пропаганда наркотических веществ.</span></li>
			<li><span>Модераторы сообществ обязаны следить на соблюдением правил в сообществе. Если правила будут нарушены, группа будет удалена администратором.</span></li>
			<li><span>Администрация сайта не несет ответственности за контент, выложенный пользователями.</span></li>
			<li><span>Администрация сайта не несет ответственности за последствия использования размещенных материалов.</span></li>
			<li><span>Пользователь несет полную ответственность за законность своих действий и размещенную им информацию.</span></li>
			<li><span>Описание должно состоять не более чем из 600 знаков</span></li>
			<li><span>Пользователь самостоятельно несет полную ответственность за соблюдение чьих-либо прав и законных интересов при размещении им или передаче посредством личных сообщений информации, копий охраняемых законом результатов интеллектуальной деятельности и/или иных материалов.</span></li>
		</ol>

		<p><strong>Помните: незнание Правил не освобождает от ответственности за их нарушение.</strong></p>

	</div>
{% endblock %}