{% extends '/GenericInner.twig' %}

{% block head %}

	<title>Все звезды - popcornnews</title>

{% endblock %}

{% block content %}

	<div class="b-grid__g8">
		<article class="b-person-all">
			<h1 class="b-single-article__title">
				Персоны
				<span class="b-single-article__date">Все звезды</span>
			</h1>

			{% include '/person/PersonsMenu.twig' %}

			<section class="b-person-all__wrapper b-person-all__cloud">

				{% for person in persons %}

					<a href="/persons/{{ person.urlName }}" class="b-person-all__cloud-size_{{ person.size }}" style="border-bottom: 0;">{{ person.name|e }}</a>

				{% endfor %}

			</section>
		</article>
	</div>

{% endblock %}