fieldset {
	border:1px solid #b8d1ff;
	margin:7px;
	padding-bottom:10px;
}

.sub {
	height:20px;
	background-color:#f4f4f4;
	border:1px solid #b8d1ff;
}

.cw { font-family: Arial,Verdana,Helvetica,Tahoma; font-size: 11px; color: #FFFFFF;}
.cwg { font-family: Arial,Verdana,Helvetica,Tahoma; font-size: 11px; color: #CCCCCC;}
td { font-family: Arial,Verdana,Helvetica,Tahoma; font-size: 11px; color: #000000;}

.toolbar {border-bottom:#808080 2px solid;font-size:15px;color:#000000;background:#D4D0C8;cursor: normal;}

.progbut {border-top:#FFFFFF 2px solid;border-left:#FFFFFF 2px solid;border-bottom:#808080 2px solid;border-right:#808080 2px solid;font-size:15px;color:#000000;background:#D4D0C8; width: 100%; height: 22px; line-height: 16px; padding-left: 5px; padding-right: 5px;cursor: normal;}
.progbutactive {border-top:#808080 2px solid;border-left:#808080 2px solid;border-bottom:#FFFFFF 2px solid;border-right:#FFFFFF 2px solid;font-size:15px;color:#000000;background:#EAE8E4; width: 100%; height: 22px; line-height: 16px; padding-left: 5px; padding-right: 5px; font-weight: bold;cursor: normal;}

.topname {border-top:#00366F 0px solid;border-left:#00366F 0px solid;border-bottom:#00366F 0px solid;border-right:#00366F 0px solid;font-size:11px;color:#FFFFFF;background:#00366F; width: 100%; padding-left: 5px; padding-right: 5px; font-weight: bold;cursor: normal;}
.topnamegray {border-top:#808080 0px solid;border-left:#808080 0px solid;border-bottom:#808080 0px solid;border-right:#808080 0px solid;font-size:11px;color:#FFFFFF;background:#808080; width: 100%; padding-left: 5px; padding-right: 5px; font-weight: bold;cursor: normal;}

.tblwin {border-top:#FFFFFF 1px solid;border-left:#FFFFFF 1px solid;border-bottom:#808080 1px solid;border-right:#808080 1px solid;color:#000000;cursor: normal;}
.tblwin2 {border-top:#FFFFFF 2px solid;border-left:#FFFFFF 2px solid;border-bottom:#808080 2px solid;border-right:#808080 2px solid;color:#000000;cursor: normal;}

.adminname { font-family: Arial,Tahoma,Verdana,Helvetica; font-size: 20px; color: #FFFFFF; font-weight: 500; line-height: 30px;}
.menutext { font-family: Verdana,Arial,Tahoma,Helvetica; font-size: 11px; color: #000000; text-decoration: none;}

.shadow { FILTER: progid:DXImageTransform.Microsoft.Shadow(color='#222222', Direction=150, Strength=3) }

.Folders {padding:10px 10px 10px 10px; margin-bottom:20px;}
.FolderBig {width:80px; height:80px; vertical-align:top; text-align:center; margin:0px; float:left;}

.ContextMenu {padding:2px; width:240px; white-space:nowrap;  background:#D4D0C8; }
.ContextMenu a {width:100%; text-decoration:none; font-size:11px; color:#000000; padding:8 10 8 10;padding-left:38px;}
.ContextMenu a:hover { font-size:11px; color:#FFFFFF; background:#000080;}

.FStat {
	padding-left:20px;
	padding-right:30px;
}

fieldset {
	border:1px solid #b8d1ff;
	margin:7px;
	padding-bottom:10px;
}

.sub {
	height:20px;
	background-color:#f4f4f4;
	border:1px solid #b8d1ff;
}

.FStat {
	padding-left:20px;
	padding-right:20px;
}

.Fform {
	margin-top:10px;
	display:block;
	background-color:#add2ff;
	border:1px solid #CCCCCC;
}

.FName {
	border-bottom:1px solid #FFFFFF;
	padding:10px;
}

.Fform h5 {
	margin:0px;
	margin-top:5px;
}

/* paginator */
div.paginator h4 {
	display: inline;
	float: left;
	text-align: right;
}
div.paginator ul {
	display: inline;
	float: left;
	list-style: none;
	overflow: hidden;
}
div.paginator li {
	float: left;
	margin-right: 10px;
}

body {
	padding-left:15px;
	padding-top:10px;
	margin: 0;
}