<ul class="b-inside__menu-secondlist">
	<li{% if app.request.path != '/persons/' ~ person.urlName ~ '/fanfics/post' %} class="active" {% endif %}>
		<a href="/persons/{{ person.urlName }}/fanfics">все фанфики</a>
	</li>

	<li{% if app.request.path == '/persons/' ~ person.urlName ~ '/fanfics/post' %} class="active" {% endif %}>
		<a href="/persons/{{ person.urlName }}/fanfics/post">прислать фанфик</a>
	</li>
</ul>