	<ul class="b-inside__menu-secondlist">
		<li {% if slim.path[3] is null %}class="active"{% endif %}>
			<a href="/yourstyle/stars">новые</a>
		</li>
		<li {% if slim.path[3] == 'byName' %}class="active"{% endif %}>
			<a href="/yourstyle/stars/byName">по имени</a>
		</li>
	</ul>
