{% extends '/yourstyle/YourStyleGeneric.twig' %}

{% block subYourStyle %}

	<div class="popular-sets">
		<div class="article-title">Правила</div>
		<ul class="rules__list">
			<li class="rules__item">
				В разделы с одеждой можно добавлять только фотографии вещей на белом фоне. Добавлять фотографии с посторонними изображениями, надписями и т. д. запрещено.
			</li>
			<li class="rules__item">
				Обязательно указывать бренд той вещи, которую вы хотите добавить. Вещи без бренда или с подписью «Не знаю», «На каждый день», «Вечеринка» и т. д. будут удаляться.
			</li>
			<li class="rules__item">
				Каждая вещь должна добавляться в соответствующий раздел: платья — к платьям, туфли — к туфлям, сумки — к сумкам и т. д.
			</li>
			<li class="rules__item">
				Если вы хотите добавить в свой сет картинку, которая не соответствует вышеуказанным правилам, необходимо поставить галочку напротив строки «Не публиковать». Так картинка будет доступна вам, но не попадет в общий список вещей.
			</li>
		</ul>
	</div>

{% endblock %}