	<ul class="b-inside__menu-secondlist">
		<li {% if slim.path[3] is null or (slim.path[3] > 0 and slim.path[2] != 'tile') %}class="active"{% endif %}>
			<a href="/yourstyle/groups">все вещи</a>
		</li>
		<li {% if slim.path[3] == 'top' %}class="active"{% endif %}>
			<a href="/yourstyle/tiles/top">популярые</a>
		</li>
	</ul>
