{% extends '/yourstyle/YourStyleGeneric.twig' %}

{% block subMenu %}

	{% include '/yourstyle/YourStyleSubMenuGroups.twig' %}

{% endblock %}

{% block subYourStyle %}

	<div class="popular-sets">
		<div class="article-title">Все вещи</div>

		{% include '/yourstyle/YourStyleChanger.twig' %}

	</div>
	<div class="stuff-items">
		<ul class="stuff-items__list">

			{% for group in groups %}

				<li class="stuff-items__item">
					<a class="stuff-items__link" href="/yourstyle/group/{{ group.id }}">
						<span class="stuff-items__image">
							<img src="{{ group.tId.image }}" alt=""/>
						</span>
						<span class="stuff-items__text">{{ group.title }}</span>
					</a>
				</li>

			{% endfor %}

		</ul>
	</div>

{% endblock %}