<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="yandex-verification" content="662fe4b66fd69297" />
		<meta name="yandex-verification" content="59a8cfdaa947c3ea" />
		<meta name="google-site-verification" content="kYTbrmi7LsFmpAFI00SBCZ-iuJrMabNSVY3nslcLHas" />

		<title>yourstyle - popcornnews</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/ys.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		
		<script type="text/javascript" src="/assets/js/jquery/jquery.js"></script>
		<script type="text/javascript" src="/assets/js/jquery/jquery.form.js"></script>
		<!--TODO-->
		<script type="text/javascript" src="/assets/js/ys.js"></script>

		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.popcornnews.ru/rss.php" />

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-21667993-7']);
			_gaq.push(['_trackPageview']);
			_gaq.push(['_trackPageLoadTime']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>

	<body>
		<div class="ys-canvas-container">
			<h1><a href="/yourstyle"><img src="/i/ys/ys.logo.png" /></a></h1>
			<div class="ys-canvas-wrapper"></div>
		</div>
	</body>
</html>
