{% extends '/person/fans/PersonFansGeneric.twig' %}

{% block head %}

	<title>Поклонники {{ person.genitiveName|e }} из твоего города</title>

{% endblock %}

{% block personContent %}

	{% if fans|length %}
		<table class="b-users-table__full">
			{% include '/users/UserRows.twig' with {'profiles' : fans} %}
		</table>

		{{ html.paginator(
			paginator.pages
			,paginator.active
			,'/persons/' ~ slim.path[2] ~ '/fans/local/page%u'
		) }}
	{% else %}
		<br/><p><strong>В этом городе нет ни одного пользователя</strong></p>
	{% endif %}

{% endblock %}