<!DOCTYPE html>
<html>
<head>
    <title>Editor mode</title>
    <link rel="stylesheet" type="text/css" href="/editor/css/cupertino/jquery-ui-1.10.3.custom.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/editor/js/jquery-ui-1.10.3.custom.js"></script>
</head>
<body>
    {{ hello }}
</body>
</html>