a.pink-dotted,
.b-comments__new-comment a {
  text-decoration: none;
  border-bottom: 1px dotted #ee2c90;
}
a.pink-dotted:hover,
.b-comments__new-comment a:hover {
  border-bottom: none;
}
.b-new-message-box {
  background-color: #f0f0f0;
  margin-top: 5px;
  padding: 13px 0 13px 0;
}
.b-new-message-box__ava {
  float: left;
  margin: 0 20px 0 15px;
}
.b-new-message-box__message-container {
  position: relative;
  background-color: white;
  width: 535px;
  border-radius: 5px;
  float: left;
}
.b-new-message-box__message-container__attach-tab {
  height: 150px;
}
.b-new-message-box__message-container__attach-tab .b-new-message-box__message-container {
  height: 85px;
}
.b-new-message-box__message-container__attach-tab .b-new-message-box__attach {
  height: 50px;
  display: block;
}
.b-new-message-box__smile-toogle {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAIAAAC0tAIdAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMlJREFUeNqUkjEPgyAQhfHixgom3Qybk///ZzgYNuPWQVY2In1wDW2UtvYN5PH8NOfdNTFGkQUzTdO+7zGrySKicRxhmGmYvmcNwyBOstbesp40uBCCUkp8kHOubVu8QEx/QSE8BQOSUOt7AcuyVD0YkITfEtcEkkpPWMaYquemvWjvffWTJU906eW6rlW65Kn9hf4pHhbxpeu6bdsOBBLk7IkHi2nhorXGOc8zF4oTvuRg0gqcZ4lCgUop+74/zPL/Pbm+gw8BBgBzv6YhG+c6BQAAAABJRU5ErkJggg==);
}
.b-new-message-box__smile-toogle:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAIAAAC0tAIdAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANlJREFUeNqUkrEOREAURc1T6P0CjegVerVv1Un0CmrR8An0CuzZfRsRO7uxr5jcuY7xvDtm33fnVdu2FUWxrisC0xgjIq7r5nmOUMYo3XVd3/dZljkfVVVVFEVxHL9p0GVZgiBwvtQ4jp7n8YLwXU79gVI8hYEUej03UNe1VcNACr/l3CvIZydnK01Tq9ahyTHBaZqsRx4+pDBX3bRta6UPXxOQm32LpqWbMAyHYbgQOPiqIYVgSUtp1rIstVFW9OHDQFqybJpmnmff95MkuWT5/z25fwcfAgwArX6k3dcciZUAAAAASUVORK5CYII=);
}
.b-new-message-box__message-ghost {
  display: none;
}
.b-new-message-box__message {
  margin-top: 7px;
  margin-bottom: 7px;
  min-height: 90px;
  overflow: hidden;
  cursor: text;
  font-size: 13px;
  padding: 0 24px 0 7px;
  letter-spacing: normal;
  outline: none;
}
.b-new-message-box__message img {
  width: 18px !important;
  height: 18px !important;
}
.b-new-message-box__attach {
  display: none;
  border-top: 1px solid #e5e5e5;
  margin-left: 7px;
  margin-right: 7px;
  overflow: hidden;
}
.b-new-message-box__attach-item {
  float: left;
  padding-top: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.b-new-message-box__add-attach {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAIAAACgWpLfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALZJREFUeNpUT8sKgzAQNDWK0UNyycGDBz/A//+F/IUHQUQiioiPiKbTbintHMLszs7Ohk3T1HWdlLKu62EYgjeUUlVVEWfGmH3f7/teliX4QZZlnPMwDHnf99QSQuR5jrk0Ta2127Zd14X+A3itYqwsS8TB0DSN1vpPBpIkQda6ruDQvPfYRNJnwjmHoa8B5DgO4hw3kq9t26IoEB/H8TiOlAKVR1FEBb49zzPuhXyeJ+3D+xRgALdVZufS/6JLAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 7px center;
  background-color: transparent;
  padding-left: 23px;
  height: 21px;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 65px;
  border-radius: 3px;
  color: #a0a0a0;
  font-size: 11px;
}
.b-new-message-box__add-attach:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAIAAACgWpLfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAL9JREFUeNpMj8kKg0AQRJ0oDuJ28zqXOXnzH/xbP8ajCCKIiCKCK6K4kEo6JKlTdVfXG4bVdZ1lmed5cRxXVaW8hTEMQ/IsiqJlWa7rGoZB+ZPrurqua1BRFLSyLEtK2fe94zhlWaI2jiP2D+iFYiwIgjzPUUiSRAhxnucvhkzTnOd5miZ4ZPd9g0TR52LbNtu2vwVVVdd1Ja/hnHppmvq+D5JhGPggvYJU45wfx4Ghbduu60Bqmmbfd+IB9hRgAPsbZceUAnhXAAAAAElFTkSuQmCC);
  color: #6d6d6d;
  border: 1px solid #6d6d6d;
}
.b-new-message-box__subscribe {
  margin: 10px 0 0 65px;
}
.b-new-message-box__subscribe label {
  cursor: pointer;
}
.b-new-message-box__add-attach:focus {
  outline: 0 none;
}
.b-new-message-box__send-button {
  float: right;
  background-color: #a3a3a3;
  width: 80px;
  height: 21px;
  border: 0;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 18px;
  border-radius: 3px;
  color: white;
  font-size: 11px;
}
.b-new-message-box__send-button:hover {
  background-color: #6d6d6d;
}
.b-new-message-box__send-button__loading {
  background: #a3a3a3 url(/assets/img/loaders/input-loader.gif) center center no-repeat;
}
.b-comments__new-comment {
  display: none;
  margin: 15px 0;
  font-size: 16px;
}
.new-message-box {
  background-color: #f0f0f0;
  margin-top: 5px;
  padding: 13px 0 13px 0;
}
.new-message-box .ava {
  float: left;
  margin: 0 20px 0 15px;
}
.new-message-box .message-container {
  position: relative;
  background-color: white;
  height: 100px;
  width: 535px;
  border-radius: 5px;
  float: left;
}
.new-message-box .message-container .smile-toogle {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  background: url(/assets/img/smile-container.png) top left no-repeat;
  cursor: pointer;
}
.new-message-box .message-container .message-box {
  margin-top: 7px;
  margin-bottom: 7px;
  height: 90px;
  overflow: auto;
  font-size: 13px;
  padding: 0 24px 0 7px;
  letter-spacing: normal;
  outline: none;
}
.new-message-box .message-container .attach {
  display: none;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 7px;
  margin-right: 7px;
  overflow: hidden;
}
.new-message-box .message-container .attach .item {
  float: left;
  margin-right: 5px;
  cursor: pointer;
}
.new-message-box .activate-attach-tab {
  height: 150px;
}
.new-message-box .activate-attach-tab .message-box {
  height: 85px;
}
.new-message-box .activate-attach-tab .attach {
  height: 50px;
  display: block;
}
.new-message-box .add-photo {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAIAAACgWpLfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALZJREFUeNpUT8sKgzAQNDWK0UNyycGDBz/A//+F/IUHQUQiioiPiKbTbintHMLszs7Ohk3T1HWdlLKu62EYgjeUUlVVEWfGmH3f7/teliX4QZZlnPMwDHnf99QSQuR5jrk0Ta2127Zd14X+A3itYqwsS8TB0DSN1vpPBpIkQda6ruDQvPfYRNJnwjmHoa8B5DgO4hw3kq9t26IoEB/H8TiOlAKVR1FEBb49zzPuhXyeJ+3D+xRgALdVZufS/6JLAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 7px center;
  background-color: transparent;
  padding-left: 23px;
  height: 21px;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 65px;
  border-radius: 3px;
  color: #a0a0a0;
  font-size: 11px;
}
.new-message-box .add-photo:focus {
  outline: 0 none;
}
.new-message-box .send-button {
  float: right;
  background-color: #a3a3a3;
  width: 80px;
  height: 21px;
  border: 0;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 18px;
  border-radius: 3px;
  color: white;
  font-size: 11px;
}
.smiles-container img {
  width: 16px;
  height: 16px;
}
.b-comments {
  margin-top: 20px;
}
.b-comments .b-comment-level-0 {
  margin-left: 0;
}
.b-comments .b-comment-level-0 .b-new-message-box__message-container {
  width: 515px;
}
.b-comments .b-comment-level-1 {
  margin-left: 30px;
}
.b-comments .b-comment-level-1 .b-new-message-box__message-container {
  width: 485px;
}
.b-comments .b-comment-level-2 {
  margin-left: 60px;
}
.b-comments .b-comment-level-2 .b-new-message-box__message-container {
  width: 455px;
}
.b-comments .b-comment-level-3 {
  margin-left: 90px;
}
.b-comments .b-comment-level-3 .b-new-message-box__message-container {
  width: 425px;
}
.b-comments .b-comment-level-4 {
  margin-left: 120px;
}
.b-comments .b-comment-level-4 .b-new-message-box__message-container {
  width: 395px;
}
.b-comments .b-comment-level-5 {
  margin-left: 150px;
}
.b-comments .b-comment-level-5 .b-new-message-box__message-container {
  width: 365px;
}
.b-comments .b-comment-level-6 {
  margin-left: 180px;
}
.b-comments .b-comment-level-6 .b-new-message-box__message-container {
  width: 335px;
}
.b-comments .b-comment-level-7 {
  margin-left: 210px;
}
.b-comments .b-comment-level-7 .b-new-message-box__message-container {
  width: 305px;
}
.b-comments .b-comment-deleted {
  color: #747474;
}
.b-comments .b-comment {
  display: block;
  margin-bottom: 10px;
}
.b-comments .b-comment .emoji {
  width: 18px !important;
  height: 18px !important;
}
.b-comments .b-comment .b-new-message-box__add-attach,
.b-comments .b-comment .b-new-message-box__subscribe {
  margin-left: 80px;
}
.b-comments .b-comment .b-new-message-box__send-button {
  margin-right: 23px;
}
.b-comments .b-comment .b-new-message-box .b-new-message-box__ava {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAYAAADaxo44AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACpJREFUeNpiOHDgwH8gYEDHTAw4AC0lDh48+B9EM4JchVULujNhzgcIMACc/yrtqZPhggAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 15px;
}
.b-comments .b-comment .b-new-message-box .add-photo {
  margin-left: 80px;
}
.b-comments .b-comment .b-new-message-box .send-button {
  margin-right: 23px;
}
.b-comments .b-comment .ava {
  float: left;
  margin-top: 3px;
}
.b-comments .b-comment .comment {
  margin-left: 42px;
}
.b-comments .b-comment .comment .images {
  margin-top: 3px;
}
.b-comments .b-comment .comment .images img {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.b-comments .b-comment .comment .nick-name {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #ee2c90;
  margin-right: 4px;
  text-decoration: none;
  margin-top: 1px;
}
.b-comments .b-comment .comment p {
  font-size: 13px;
  line-height: 18px;
}
.b-comment-caption {
  margin-top: 2px;
}
.b-comment-caption__timestamp {
  float: left;
  margin-right: 15px;
  color: #b0b0b0;
}
.b-comment-caption__reply {
  float: left;
  margin-right: 15px;
}
.b-comment-caption__reply a {
  text-decoration: none;
  color: #f082bb;
}
.b-comment-caption__reply a:hover {
  color: #de0073;
}
.b-comment-caption__like {
  float: left;
  margin-right: 15px;
}
.b-comment-caption__like a {
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  color: #f082bb;
}
.b-comment-caption__like a em {
  font-size: 12px;
  font-style: normal;
  color: #acacac;
  margin-left: 2px;
}
.b-comment-caption__like a:hover em {
  color: #000;
}
.b-comment-caption__like a span {
  background: url(data:image/gif;base64,R0lGODlhFwAUAMQZAN4Ac/Wy1ffF3+ZAluAQfPnP5fa31+Ighf3x9/Wv0/rY6va82u5/ufzn8vvf7epgqOQwjfvd7P76/P3v9vGPwv71+vnU5/fA3OxwsP///wAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABkALAAAAAAXABQAAAWVYCaKgjKeZKBeUnU2gYCOiGoHBm0E5pwVN5vIYhMIGrNdMLBYLCOoyLK5xM0aRptFVC34MgocYqS8jX2CAHJUkVyKX7AsTq/b7wNGfADoQyYOJwkAA18FfYgABCMFBAB6Pg+JiCIYiAMDCTOOkwAHB50UKBSdn52KMwmYiBgipw9fDIpeIpyJtDN8miMOExCXcQyFJyEAOw==) no-repeat;
}
.b-comment-caption__like-like span {
  margin-left: 5px;
  background-position: top left !important;
  width: 9px;
  height: 9px;
  display: inline-block;
}
.b-comment-caption__like-like:hover {
  color: #de0073;
}
.b-comment-caption__like-like:hover span {
  background-position: bottom left !important;
}
.b-comment-caption__like-dislike span {
  background-position: top right !important;
  width: 9px;
  height: 9px;
  display: inline-block;
}
.b-comment-caption__like-dislike:hover {
  color: #000;
}
.b-comment-caption__like-dislike:hover span {
  background-position: bottom right !important;
}
.b-comment-caption__report,
.b-comment-caption__remove {
  float: left;
  margin-right: 15px;
}
.b-comment-caption__report a,
.b-comment-caption__remove a {
  color: #aaa9aa;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
}
.b-comment-caption__report a:hover,
.b-comment-caption__remove a:hover {
  color: #6d6d6d;
}
.b-comments__auth-form {
  background-color: #f0f0f0;
  padding: 45px 23px;
  font-size: 16px;
}
.b-comments__auth-form a {
  text-decoration: none;
}
