.b-search__header {
	margin-bottom: 30px;
}

.b-search__list {

    & >li {
        margin-bottom: 38px;
    }

    img {
        max-width: 100%;
    }
}

.b-search__head {
    display: block;
    margin-bottom: 14px;
}

.b-search__body {

}

.b-search__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;

    a {
        text-decoration: none;
        color: #000;
    }
}

.b-search__text {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5px;
}

.b-search__image {
    float: left;
    padding: 0 14px 0 0;
    width: 110px;
    img {
        max-width: 110px;
    }
}
