php_value upload_max_filesize 10M
php_value post_max_filesize   10M
php_value xhprof.output_dir   /data/sites/popcorn/var/tmp/xhprof
php_value date.timezone       "Europe/Moscow"

php_flag session.use_trans_sid Off
php_flag session.use_only_cookies On

SetEnv POPCORN_MODE development

AddDefaultCharset utf-8
Options -Indexes

DirectoryIndex index.php

<IfModule mod_headers.c>
	Header always set X-Frame-Options SAMEORIGIN
	Header always set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-icon "access plus 1 year"
</IfModule>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]