AddDefaultCharset utf-8

SetEnv ENV_MODE development

DirectoryIndex index.php

php_value upload_max_filesize 10M
php_value post_max_filesize   10M

RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]