php_value upload_max_filesize 10M
php_value post_max_filesize   10M
php_value xhprof.output_dir /data/sites/popcorn/var/tmp/xhprof

SetEnv POPCORN_MODE development

AddDefaultCharset utf-8
Options -Indexes

DirectoryIndex index.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]