{% extends '/GenericInner.twig' %}

{% block content %}

	<div class="logo">Попкорн<span class="logo__news">news</span></div>

	{% if status == 'success' %}

		<div class="form-top-mistake">
			<h1>Восстановление пароля</h1>
			<strong>Проверьте свою электронную почту</strong><br/><br/>
			Инструкции по восстановлению вашего пароля были высланы на адрес электронной почты, указанный при регистрации.
		</div>

	{% elseif status == 'success2' %}

		<div class="form-top-mistake">
			<h1>Восстановление пароля</h1>
			<strong>Проверьте свою электронную почту</strong><br/><br/>
			Мы создали новый пароль, вы его найдете в своей электронной почте.
		</div>

	{% else %}

		<form class="form" method="post" action="/remind">
			<span class="form__title">Восстановление пароля</span>
			<input class="form__field" type="email" required="required" placeholder="E-Mail" name="email" /><br />
			<input class="form__btn btn" type="submit" value="Напомнить" /><br />
		</form>

	{% endif %}

		<div class="form-bottom">
			Уже есть аккаунт?
			<a class="icon-text" href="/authorization">
				<span class="icon-text__text">Войдите</span>
				<img class="icon-text__icon"  src="i/arrow-right-grey.svg" alt="Вперед">
			</a>
		</div>

{% endblock %}
