			<div class="nav__left">
				<a href="http://www.popcornnews.ru"><img class="nav__star" src="i/star-stroke.svg" alt="Обычная версия сайта" /></a>
			</div>
			<div class="nav__center">
				<div id="nav-title" class="nav__frame nav__title">
					Новости
				</div>
			</div>
			<div class="nav__right">
				<div class="sample">
					<select id="news-sample" autocomplete="off"  class="sample__field" name="name3">
						<option value="news">главная</option>
						<option value="stars">звезды</option>
						<option value="fashion">мода</option>
						<option value="beauty">красота</option>
						<option value="movie">кино</option>
						<option value="tvshow">тв и сериалы</option>
						<option value="music">музыка</option>
						<option value="gadget">гаджеты</option>
					</select>
				</div>
			</div>
