{% extends '/GenericInner.twig' %}

{% block head %}

    <title>Контакты - popcornnews</title>
    <meta name="description" content="Контакты" />
    <meta name="keywords"    content="контакты" />

{% endblock %}

{% block content %}

    <div class="b-grid__g8">
        <article class="b-text b-contacts">
            <h1>Контакты</h1>

            <h5>Администрация Проекта</h5>

            <p class="info">
                <strong>Альменова Вера</strong><br/>
                <a href="mailto:editor@popcornnews.ru">editor@popcornnews.ru</a><br/>
                Главный редактор<br/>
                (812)740-20-67
            </p>

            <p><strong>По вопросам рекламы обращайтесь:</strong></p>
            <p>в Санкт-Петербурге: (812) 740-20-67</p>
            <p>в Москве: (495) 649-62-25</p>

        </article>
    </div>

{% endblock %}