{% extends '/GenericInner.twig' %}

{% block head %}

    <title>FAQ - popcornnews</title>
    <meta name="description" content="Часто задаваемые вопросы" />
    <meta name="keywords"    content="faq" />


    <script type="text/javascript">
        $(function(){

            $('ol.faqList li a').on('click',function(){
                $('html,body').animate({
                    scrollTop:$('#'+$(this).attr('href').substr(1)).offset().top
                },300);

                document.location.hash = '#'+$(this).attr('href').substr(1);

                return false;
            });

        });
    </script>

{% endblock %}

{% block content %}

<div class="b-grid__g8">
    <article class="b-text b-faq">
        <h1>FAQ</h1>
        <ol class="faqList">
            <li><a href="#faq-question-1">Что значат звездочки в комментариях?</a></li>
            <li><a href="#faq-question-2">О рейтинге</a></li>
            <li><a href="#faq-question-3">Ваш профайл</a></li>
            <li><a href="#faq-question-4">Профайл звезды</a></li>
            <li><a href="#faq-question-5">Награды</a></li>
            <li><a href="#faq-question-6">Конкурсы</a></li>
        </ol>
        <ol class="faq">
            <li>
                <h4 id="faq-question-1">Что значат звездочки в комментариях?</h4>
                <p>Это личный рейтинг каждого комментария. Нажав розовую звездочку, вы проголосуете «за», на серую &mdash; «против» написанного. За каждый комментарий можно голосовать лишь один раз. Голосовать может лишь зарегистрированный пользователь, имеющий не менее 100 очков рейтинга.</p>
            </li>
            <li>
                <h4 id="faq-question-2">О рейтинге</h4>
                <p>Рейтинг теперь делится на цвета: pink, silver, gold, platinum, diamond. Они определяются количеством ваших баллов:</p>
                <ul>
                    <li><span>pink: 0-5000</span></li>
                    <li><span>silver: 5000-10000</span></li>
                    <li><span>gold: 10000-50000</span></li>
                    <li><span>platinum: 50000-100000</span></li>
                    <li><span>diamond: 100000-200000</span></li>
                </ul>
                <p>Участники с самым большим рейтингом будут отображаться в топе. За написание одного комментария к рейтингу добавляется 1, за добавление фотографии звезды - 2. В день можно добавить не более 6 фотографий.</p>
            </li>
            <li>
                <h4 id="faq-question-3">Ваш профайл</h4>
                <ul>
                    <li><span>Вы можете добавить свою фотографию в Ваш профайл, чтобы другие участники могли вас увидеть.</span></li>
                    <li><span>Выбрав пункт «новости», Вы можете увидеть все новости, связанные с выбранными Вами звездами.</span></li>
                </ul>
            </li>
            <li>
                <h4 id="faq-question-4">Профайл звезды</h4>
                <p>В профайле звезды вы можете выбрать пункт «обсуждения». Это персональная стена для обсуждения каждой знаменитости. Здесь вы можете добавить фотографию звезды.</p>
                <p><em>О добавлении фотографий</em>:</p>
                <p>Загружаемые вами фотографии должны быть формата JPEG и размером <strong>не менее</strong> 350 х 450 точек. На фото не должно быть никаких ссылок на сайты, с которых они были скачаны.</p>
                <p>Прежде чем фотографии появятся на сайте, они должны быть утверждены администрацией.</p>
                <p>В профайле звезды есть раздел «факты». Каждый пользователь может добавить интересный факт о той или иной знаменитости. Остальные могут проголосовать за него по двум критериям: достоверность и оценка. Лучшие и самые интересные факты попадут в соответствующие разделы, а их авторы получат дополнительные 2 балла. По истечению 2-х недель, они сортируются в архивы. Свои голоса можно изменять, но суммироваться они не будут, а будет учитываться лишь последняя оценка. Убедитесь, что загружаемый Вами факт краток и достоверен, а также не является повторением написанного ранее. Проверьте наличие Вашего факта в архиве.</p>
            </li>
            <li>
                <h4 id="faq-question-5">Награды</h4>
                <p>Награды выдаются наиболее активным пользователям за:</p>
                <ul>
                    <li><span>написание 20 и более фактов</span></li>
                    <li><span>добавление 50 и более друзей</span></li>
                    <li><span>написание 1000 и более комментариев</span></li>
                    <li><span>добавление 100 и более фото в профайл звезды</span></li>
                    <li><span>активность в течении месяца (наибольшее количество баллов)</span></li>
                </ul>
            </li>
            <li>
                <h4 id="faq-question-6">Конкурсы</h4>
                <p>В <em>викторинах</em> может участовать любой житель РФ. Викторины постоянно обновляются. Победителя выбирает компьютер. В каждой викторине пользователь может участвовать только один раз. Призы высылаются пользователям по почте, так что просьба указывать в профайлах верный город проживания.</p>
            </li>
        </ol>
    </article>
</div>

{% endblock %}