{% extends '/GenericInner.twig' %}

{% block head %}

    <title>Правила - popcornnews</title>
    <meta name="description" content="Правила сайта" />
    <meta name="keywords"    content="правила" />

{% endblock %}

{% block content %}

    <div class="b-grid__g8">
        <article class="b-text b-site-rules">
            <h1>Правила</h1>

            <p>Мы рады приветствовать Вас.<br> Перед тем, как приступить к отправке
                    сообщений, Вы обязаны внимательно ознакомиться с Правилами сайта.<br> Незнание Правил не освобождает
                    от ответственности за их нарушение.</p>

                <h2>Правила:</h2>

                <p>Общение на форуме ведется на русском языке. Сообщения на других языках могут быть удалены
                    модераторами.<br> Старайтесь избегать личных дискуссий в новостях. Для этого служит ЛС (личные
                    сообщения и стенки).&nbsp;<br> Самостоятельно ник поменять нельзя. В случае необходимости обратитесь
                    к модератору.<br> Администрация сайта не несет ответственности за контент, выложенный
                    пользователями.<br> Администрация сайта не несет ответственности за последствия использования
                    размещенных материалов.<br> Пользователь несет полную ответственность за законность своих действий и
                    размещенную им информацию.&nbsp;<br> Пользователь самостоятельно несет полную ответственность за
                    соблюдение чьих-либо прав и законных интересов при размещении им или передаче посредством личных
                    сообщений информации, копий охраняемых законом результатов интеллектуальной деятельности и/или иных
                    материалов.<br> При создании ника нельзя использовать HTML-мнемоники (символы сердечки, смайлики
                    т.д.), такие профайлы будут удаляться.</p>

                <h2>На сайте запрещены:</h2>
                <ul class="faq">
                    <li><span>Любые проявления нетерпимости к разным расовым различиям,национальностям в сообщениях;</span></li>
                    <li><span>Размещение провокационной и/или ложной информации с других сайтов;</span></li>
                    <li><span>Нецензурные выражения (мат) и оскорбления в адрес друг друга или администрации, мат в
                        сообщениях, на аватарах, в никнеймах, мат в завуалированной форме;
                    </span></li>
                    <li><span>Использование аватаров и ников, связанных с нацизмом и содержащих нацистскую символику;</span></li>
                    <li><span>Реклама, оффтоп, флуд;</span></li>
                    <li><span>Добавление фотографий порнографического содержания;</span></li>
                    <li><span>Публикация вредоносных ссылок, позволяющих причинить вред ПО компьютера пользователя;</span></li>
                    <li><span>Пропаганда наркотических веществ;</span></li>
                    <li><span>Создание ничего не значащих сообщений ("круто", "бред", "молодец", "ура", "гы", "дайте две!",
                        смайлы и пр.)
                    </span></li>
                    <li><span>Любые оскорбления в адрес других пользователей сайта, создавать конфликтные ситуации, нагнетать
                        обстановку;
                    </span></li>
                    <li><span>Оспаривать решение модераторов и редакции, оскорблять и доставать просьбами о смене ника и
                        т.д.
                    </span></li>
                    <li><span>Создавать клоны ников Администраторов и других пользователей;</span></li>
                    <li><span>Размещать фотографии других пользователей у себя в профайле;</span></li>
                </ul>
                <h2>Обязанности модераторов:</h2>

                <p>Модераторы имеют право делать пользователям сайта замечания при нарушении последними Правил
                    сайта.<br> Модераторы имеют право удалять, редактировать и перемещать сообщения других пользователей
                    в целях пресечения нарушений Правил.<br> Модератор имеет право устанавливать дополнительные правила
                    для каждой новости, непротиворечащие основным правилам сайта. Наказания за несоблюдение этих правил
                    приравниваются к мерам за нарушение общих правил сайта.<br> Модераторы могут закрыть участнику
                    возможность создавать сообщения на определенный срок, в зависимости от тяжести нарушения</p>

                <h2>Пользователь может:</h2>
                <ul class="faq">
                    <li><span>Участвовать в дискуссии, высказывать собственное мнение по любому вопросу в любой теме;</span></li>
                    <li><span>Высказывать предложения и пожелания, касающиеся дальнейшего развития сайта;</span></li>
                    <li><span>Сообщать о происходящих нарушениях модератору ;</span></li>
                    <li><span>Задавать вопросы, касающиеся работы сайта, разъяснения определенных правил или техники и
                        принципов работы.</span>
                    </li>
                </ul>
        </article>
    </div>

{% endblock %}