{% extends '/GenericInner.twig' %}

{% block head %}

	<title>Статистика сайта - popcornnews</title>
	<meta name="description" content="Контакты" />
	<meta name="keywords"	content="контакты" />

{% endblock %}

{% block content %}

	<div class="b-grid__g8">
		<article class="b-text b-contacts">
			<h1>Статистика сайта по данным Google Analytics</h1>

			<script type='text/javascript' src='https://www.google.com/jsapi'></script>
			<script type='text/javascript'>

			(new Image()).src = 'http://v1.popcorn-news.ru/i/loader2.gif';

			function array_sum( array ) {

				var key, sum=0;

				if( !array || (array.constructor !== Array && array.constructor !== Object) || !array.length ){
					return null;
				}

				for(var key in array){
					sum += parseInt(array[key]);
				}

				return sum;
			}


			google.load('visualization', '1', {'packages': ['corechart','geochart'], 'language': 'ru'});

			function drawCityMap(chart,data){
				chart.draw(data, {
					region: "RU",
					displayMode: 'markers',
					colorAxis: {colors: ['#f70080']},
					legend: {textStyle: {color: 'black', fontSize: 10}},
					keepAspectRatio: false,
					enableRegionInteractivity: 'true'
				});
			};

			function drawViewsChart(chart,data) {
				chart.draw(data, {
					curveType: "function",
					animation:{
						duration: 500,
						easing: 'out'
					}
				});
			};

			function drawSexChart(data){
				var chart = new google.visualization.PieChart(document.getElementById('chart_div_sex'));
				chart.draw(data, {title:'Пол'});
			}

			function drawAgeChart(data){
				var chart = new google.visualization.PieChart(document.getElementById('chart_div_age'));
				chart.draw(data, {title:'Возрастные группы'});
			}

			$(function(){
				var chartViews = new google.visualization.LineChart(document.getElementById('chart_div_pageviews'));
				var chartCity = new google.visualization.GeoChart(document.getElementById('chart_div_city'));

				$('<div style="display:none;" id="ajax-loader"></div>').appendTo('body');

				var changeFilter = function(dateOptions){
					var pos = $('#stat-month-selector').offset();

					$('#ajax-loader')
						.html('<img src="http://v1.popcorn-news.ru/i/loader2.gif" />')
						.css({
							'position' : 'absolute',
							'top'	  : pos.top + 9 + 'px',
							'left'	 : pos.left - 100 + 'px'
						})
						.show()
					;

					$('#stat-month-selector').attr('disabled',true);
					$('#stat-week-selector').attr('disabled',true);
					$('#content').css('opacity',0.2);

					var ajaxData = {'month' : dateOptions['month']};

					if (typeof dateOptions['daysInterval'] != 'undefined')
						ajaxData['daysInterval'] = dateOptions['daysInterval'];


					$.ajax({
						'type' : 'GET',
						'url' : '/ajax/stat',
						'dataType' : 'json',
						'data' : ajaxData,
						'success' : function(response){


							var views = [
								['Дата','Посещения','Просмотры страниц']
							];

							var city = [
								['Город', 'Посещений']
							];

							var sex = [
								['Пол', 'Количество']
							];

							var age = [
								['Возрастная категория', 'Количество']
							];

							var weeks = [];

							for (x in response.views){
								views.push([response.views[x]['date'],parseInt(response.views[x]['visits']),parseInt(response.views[x]['pageviews'])]);
							}

							for (cityName in response.city){
								city.push([cityName,array_sum(response.city[cityName])]);
							}

							for (sexName in response.sex){
								if (sexName == 'male') {
									key = 'Мужчины';
								} else {
									key = 'Женщины';
								}
								sex.push([key,array_sum(response.sex[sexName])]);
							}

							for (ageName in response.age){
								age.push([ageName,array_sum(response.age[ageName])]);
							}

							for (x in response.weeks){
								weeks.push(response.weeks[x]);
							}


							drawViewsChart(chartViews,google.visualization.arrayToDataTable(views));
							drawCityMap(chartCity,google.visualization.arrayToDataTable(city));
							drawSexChart(google.visualization.arrayToDataTable(sex));
							drawAgeChart(google.visualization.arrayToDataTable(age));

							if (typeof dateOptions['daysInterval'] == 'undefined'){

								var outHtml = '<option value="">-выбран весь месяц-</option>';

								for (key in weeks){
									var weekFormat = weeks[key][0] + ' - ' + weeks[key][1];

									outHtml += '<option value="' + weekFormat + '">' + weekFormat + '</option>';
								}

								$('#stat-week-selector').html(outHtml);
							}

							$('#ajax-loader').fadeOut('slow');

							$('#content').animate({'opacity':1},'slow',function(){ $('#stat-month-selector').attr('disabled',false); $('#stat-week-selector').attr('disabled',false); });

							delete views;
							delete city;
							delete response;
						}
					});
				}

				$('#stat-week-selector')
					.show()
					.change(function(){
						changeFilter( {'month' : $('#stat-month-selector option:selected').val(), 'daysInterval' : $(this).find('option:selected').val() } );
					})
				;

				$('#stat-month-selector')
					.find('option:last')
					.attr('selected',true)
					.end()
					.fadeIn('fast')
					.change(function(){
						changeFilter( {'month' : $(this).find('option:selected').val() } );
					}
				);

				$('#stat-month-selector').change();
			});
			</script>

			<div class="stat-filter-block">
				<p class="title" >данные за</p>
				<div style="padding-top:5px;"><select id="stat-month-selector">
				{% for item in items %}
					<option value="{{ item.val }}">{{ item.m }} {{ item.y }}</option>
				{% endfor %}
				</select><select id="stat-week-selector"><option value="">-оставить только месяц-</option></select></div>
			</div>

			<h2>Посещения</h2>

			<div id="chart_div_pageviews" style="width: 880px; height: 400px;"></div>


			<h2>Города</h2>

			<div id="chart_div_city" style="width: 880px; height:549px; "></div>

			<h2 style="margin-top:20px;">Демография</h2>

			<table><tr>
				<td><div id="chart_div_sex" style="width: 440px;  "></div></td>
				<td><div id="chart_div_age" style="width: 440px;   "></div></td>
			</tr></table>

		</article>
	</div>

{% endblock %}