{% extends '/Generic.twig' %}

{% block BodyEnd %}


{% endblock %}

{% block PageContent %}

	<h3 class="page-title">
		Подтвердите удаление
		<small>Фото-статья</small>
	</h3>

	<form method="post" action="/office/photoarticle{{ post.id }}/remove">
		<input type="hidden" name="photoarticleId" value="{{ post.id }}"/>

		<div class="note note-danger">
			<h4>Фото-статья <a class="btn btn-default" href="/office/photoarticle{{ post.id }}">&quot;{{ post.name|e }}&quot;</a></h4>

			<p><strong>Удаление приведет к:</strong></p>
			<p>
				<ul>
					<li>удалению приложенных фотографий</li>
					<li>удалению комментариев</li>
				</ul>
			</p>
			<p style="text-align: right;">
				<a class="btn btn-info" href="/office/photoarticles">Вернуться к списку фото-статей</a>
				<input type="submit" class="btn btn-danger" value="Подтверждаю удаление"/>
			</p>
		</div>
	</form>

{% endblock %}