{% extends '/Generic.twig' %}

{% block PageTop %}

	{% if person %}

		<ul class="mix-filter">
			<li class="filter btn {% if tab1 %}active{% endif %}" data-filter="person">
				<a href="/office/person{{ person.id }}">Персона</a>
			</li>
			<li class="filter btn {% if tab2 %}active{% endif %}" data-filter="linking">
				<a href="/office/person{{ person.id }}/linking">Связи с персонами</a>
			</li>
			<li class="filter btn {% if tab3 %}active{% endif %}" data-filter="">
				<a href="/office/person{{ person.id }}/facts">Факты</a>
			</li>
		</ul>

	{% endif %}

{% endblock %}