<ul class="b-inside__menu-secondlist">
	<li{% if tab1 %} class="active" {% endif %}>
		<a href="/persons/{{ person.urlName }}/facts">факты</a>
	</li>

	<li{% if tab2 %} class="active" {% endif %}>
		<a href="/persons/{{ person.urlName }}/facts/post">прислать факт</a>
	</li>
</ul>