{% extends '/Generic.twig' %}

{% block PageTop %}

	{% if kid %}

		<ul class="mix-filter">
			<li class="filter btn {% if tab1 %}active{% endif %}" data-filter="person">
				<a href="/office/kid{{ kid.id }}">Ребенок</a>
			</li>

			<li class="filter btn {% if tab2 %}active{% endif %}" data-filter="comments">
				<a href="/office/kid{{ kid.id }}/comments">Комментарии</a>
			</li>
		</ul>

	{% endif %}

{% endblock %}